@import 'common.scss';

@-webkit-keyframes down-up-ani{
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(0, 6px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -6px);
  }
}

@-moz-keyframes down-up-ani{
  0%, 30% {
    opacity: 0;
    -moz-transform: translate(0, 6px);
  }
  60% {
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -moz-transform: translate(0, -6px);
  }
}

@keyframes down-up-ani{
  0%, 30% {
    opacity: 0;
    transform: translate(0, 6px);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -6px);
  }
}

@-webkit-keyframes star-ani{
  0%{
    opacity: 0;
    -webkit-transform:scale(0,0);
  }
  50% {
    opacity: 1;
    -webkit-transform:scale(1,1);
  }
  100% {
    opacity: 0;
    -webkit-transform:scale(0,0);
  }
}

@-moz-keyframes star-ani{
  0%{
    opacity: 0;
    -moz-transform:scale(0,0);
  }
  50% {
    opacity: 1;
    -moz-transform:scale(1,1);
  }
  100% {
    opacity: 0;
    -moz-transform:scale(0,0);
  }
}

@keyframes star-ani{
  0%{
    opacity: 0;
    transform:scale(0,0);
  }
  50% {
    opacity: 1;
    transform:scale(1,1);
  }
  100% {
    opacity: 0;
    transform:scale(0,0);
  }
}

body{
  position: relative;
  background: #1a0532 no-repeat;
  background-size: 20rem 200%;
  transition: background-position 0.5s ease-in-out;
  background-position-y: 0;
  background-position-x: center;
}

div#bg{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0;
  transition: opacity 0.3s;
  >div{
    position: absolute;
    width:1.556rem;
    height:1.556rem;
    transform-origin: 50% 50%;
    @include img("../images/star.png",1.556rem 1.556rem);
    -webkit-animation: star-ani 3s infinite ease-in-out;
    animation: star-ani 3s infinite ease-in-out;
    &:nth-of-type(1){
      top:6rem;
      left:2rem;
    }
    &:nth-of-type(2){
      top:6.4rem;
      left:60%;
      animation-delay: 1.5s;
    }
    &:nth-of-type(3){
      top:6rem;
      left:70%;
      animation-delay: 1.8s;
    }
    &:nth-of-type(4){
      bottom:20%;
      left:1.5rem;
      animation-delay: 2s;
    }
    &:nth-of-type(5){
      bottom:22%;
      left:2.1rem;
      animation-delay: 2.5s;
    }
    &:nth-of-type(6){
      bottom:22%;
      right:3rem;
    }
  }
  &.act{
    opacity: 1;
  }
}

div.journal-page{
  position: relative;
  height:100%;
}

div.page-content{
  height:100%;
}

.page-header{
  position: fixed;
  top:-6rem;
  left:50%;
  width:20rem;
  height:3.3889rem;
  padding-left:0.667rem;
  margin-left:-10rem;
  z-index:100;
  opacity: 0;
  transition: height 0.3s 0.2s, opacity 0.3s 4.5s, top 0.3s 4.5s ease-out;
  div.logo{
    width:3.389rem;
    height:3.389rem;
    margin-right:1.112rem;
    border-radius: 50%;
    float: left;
    @include imgBgFix(3.389rem 3.389rem);
    background-image: url('../images/logo.png');
    @include transition(all 0.3s);
  }
  div.info{
    width:12.667rem;
    height:100%;
    float: left;
    div.title{
      color:#fff;
      line-height:2.222rem;
      @include sl();
    }
    div.static{
      height:1.083rem;
      width:80%;
      line-height:1.083rem;
      color:#fde48b;
      font-size:0.889rem;
      >div{
        width:50%;
        float: left;
        &.view{
          padding-left:1.417rem;
          @include img('../images/view.png',1.154rem 1.083rem)
        }
        &.like{
          padding-left:1.278rem;
          @include img('../images/like.png',1.056rem 1.083rem)
        }
      }
    }
  }
  div.right-arrow{
    height:100%;
    width:2rem;
    position: absolute;
    right:0;
    top:0;
    display: none;
    &:after{
      content: "";
      position: absolute;
      top:50%;
      left:40%;
      width:0.44rem;
      height:0.44rem;
      margin-top:-0.22rem;
      margin-left:-0.22rem;
      border-left:0.1rem solid #fff;
      border-bottom:0.1rem solid #fff;
      @include rotate(-135deg)
    }
  }
  &.common{
    height:1.528rem;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0));
    div.logo{
      width:1.528rem;
      height:1.528rem;
      //border:1px solid #504169;
    }
    div.info{
      width:14.528rem;
      div.title{
        line-height: 1.528rem;
      }
      div.static{
        display: none;
      }
    }
    div.right-arrow{
      display: block;
    }
  }
  &.act{
    opacity: 1;
    top:0.333rem;
  }
}

.slide-arrow{
  display: none;
  position: fixed;
  width:1.25rem;
  height:0.972rem;
  left:50%;
  bottom:0.5rem;
  margin-left:-0.625rem;
  z-index:1000;
  @include img("../images/20.png",1.25rem 0.972rem);
  -webkit-animation: down-up-ani 1.5s infinite ease-in-out;
  animation: down-up-ani 1.5s infinite ease-in-out;
  &.act{
    display: block;
  }
}

div.index-slide{
  position: relative;
  div.center-circle{
    position: absolute;
    width:10.666rem;
    height:10.666rem;
    top:50%;
    left:50%;
    margin-left:-5.333rem;
    margin-top:-5.333rem;
    border-radius: 50%;
    @include img("../images/02.png",10.666rem 10.666rem);
    transform: rotate(720deg) scale(0,0);
    transform-origin: 50% 50%;
    transition: transform 0.6s ease-out;
    &.act{
      transform: rotate(0deg) scale(1,1);
      >canvas:nth-of-type(1){
        opacity: 1;
        transform: scale(1,1)
      }
    }
    >canvas:nth-of-type(1){
      position: absolute;
      width:12.888rem;
      height:12.888rem;
      top:-1.111rem;
      left:-1.111rem;
      transform-origin: 50% 50%;
      transform: scale(0.82759,0.82759);
      opacity: 0;
      transition: transform 0.4s 0.7s, opacity 0.3s 0.7s;
    }
    div,canvas{
      position: absolute;
    }
    canvas.line-top{
      width:4.5rem;
      height:2.972rem;
      top:-10.3rem;
      left:10rem;
      opacity: 0;
      transition: left 0.4s 1.1s, top 0.4s 1.1s, opacity 0.3s 1.1s;
      &.act{
        top:-3.3rem;
        left:3rem;
      }
    }
    canvas.line-bottom{
      width:3.167rem;
      height:2.056rem;
      top:17rem;
      left:-5.8rem;
      opacity: 0;
      transition: left 0.4s 1.4s, top 0.4s 1.4s, opacity 0.3s 1.4s;
      &.act{
        top:11.15rem;
        left:1.2rem;
      }
    }
    canvas.line-top,canvas.line-bottom{
      &.act{
        opacity: 1;
      }
    }
    div.circle{
      border-radius: 50%;
      opacity: 0;
      transform: scale(0,0);
      transform-origin: 50% 50%;
      &.act{
        opacity: 0.5;
        transform: scale(1,1)
      }
    }
    div.small{
      top:21rem;
      left:4rem;
      width:1.75rem;
      height:1.75rem;
      background-color: #998045;
      transition: opacity .3s 3.2s,top .9s 3.2s ease-out, transform 0.4s 3.2s ease-out;
      &.act{
        top:13rem;
      }
    }
    div.mid{
      top:15.8rem;
      left:-4rem;
      width:2.472rem;
      height:2.472rem;
      background-color: #79602b;
      transition: opacity .3s 3.5s,top .9s 3.5s ease-out,transform 0.4s 3.5s ease-out;
      &.act{
        top:7.8rem;
      }
    }
    div.big{
      top:15rem;
      right:-4rem;
      width:3.444rem;
      height:3.444rem;
      background-color: #652596;
      transition: opacity .3s 4s,top .9s 4s ease-out,transform 0.4s 4s ease-out;
      &.act{
        top:7rem;
      }
    }
  }

  div.text{
    position: absolute;
    left:0;
    top:50%;
    width:100%;
    height:6.388rem;
    margin-top:-5.194rem;
    text-align: center;
    >canvas{
      display: inline-block;
      width:16.278rem;
      height:5.556rem;
      margin-bottom:-1.4rem;
      opacity: 0;
      transform: scale(0,0) rotate(370deg) skew(0deg,0deg);
      transform-origin: 50% 50%;
      transition: opacity 0.2s 1.9s, transform 0.7s 1.9s ease-out;
      &.act{
        transform: scale(1,1) rotate(-5deg) skew(-5deg,-5deg);
        opacity: 1;
      }
    }
    >div{
      display: inline-block;
      padding:0 1rem;
      height:2.222rem;
      line-height: 2.222rem;
      color:#fff;
      background-color: #00efd5;
      font-size:1.111rem;
      font-weight: bold;
      border-radius: 1.2rem;
      transform: rotate(0deg);
      opacity: 0;
      transition: transform 0.6s 2.7s ease-out, opacity 0.4s 2.7s;
      &.act{
        opacity: 1;
        transform: rotate(-10deg);
      }
    }
  }
}

div.common-slide{
  position: relative;
  div.wrap{
    position: absolute;
    height:22rem;
    width:100%;
    left:0;
    top:50%;
    margin-top:-12.5rem;
    //border:1px solid #ff0000;
  }
  div.info-wrap{
    width:18.611rem;
    border-radius: 0.3rem;
    border:1px solid #6c3771;
    background-color: rgba(66,33,78,0.5);
    margin-left:auto;
    margin-right:auto;
    &.opacity-ani{
      opacity: 0;
      transform: translateY(-3.5rem);
      transition: opacity 0.4s 1.2s, transform 0.5s 1.2s ease-out;
      &.act{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  div.page-title{
    position: relative;
    height:3.694rem;
    padding-top:1.8rem;
    @include img("../images/09.png",18.888rem 3.694rem);
    background-position: center center;
    text-align: center;
    opacity: 0;
    transform: translate(0,-5rem);
    transition: opacity 0.4s, transform 0.4s;
    &.act{
      opacity: 1;
      transform: translate(0,0);
      &:after{
        opacity: 1;
        transform: translate(0,0);
      }
      &:before{
        transform: scale(1,1);
      }
    }
    &:before{
      content : "";
      position: absolute;
      width:11.972rem;
      height:3.694rem;
      left:20%;
      top:0;
      transform: scale(1,0);
      transform-origin: 50% 100%;
      @include img("../images/03.png",11.972rem 3.694rem);
      transition: transform 0.4s 0.9s;
    }
    &:after{
      content : "";
      position: absolute;
      width:5.556rem;
      height:1.778rem;
      left:50%;
      margin-left:-2.778rem;
      @include imgBgFix(5.556rem 1.778rem);
      opacity: 0;
      transform: translate(0,-5rem);
      transition: opacity 0.4s 0.4s, transform 0.4s 0.4s;
    }
  }
  div.bottom-btn{
    position: absolute;
    width:8.944rem;
    height:1.861rem;
    bottom:-1rem;
    left:50%;
    padding-left:5.278rem;
    margin-left:-4.472rem;
    line-height: 1.861rem;
    color:#fff;
    @include imgBgFix(8.944rem 1.861rem);
    opacity: 0;
    transition: opacity 0.3s 2s, bottom 0.4s 2s ease-out;
    &.act{
      opacity: 1;
      bottom:2.2rem;
    }
  }
  div.like-btn{
    background-image: url("../images/08.png");
  }
  div.item-btn{
    position: relative;
    display: inline-block;
    height:1.222rem;
    line-height: 1.222rem;
    border-radius: 4px;
    color:#fff;
    font-size:0.722rem;
    background: linear-gradient(#ca4ace,#980f9c);
    &:before{
      content : "";
      position: absolute;
      width:6px;
      height:6px;
      top:50%;
      margin-top:-3px;
      border-radius: 50%;
      background-color: #422051;
    }
    &.left{
      padding-right:0.306rem;
      padding-left:0.722rem;
      &:before{
        left:0.222rem;
      }
    }
    &.right{
      padding-left:0.472rem;
      padding-right:0.722rem;
      font-size:0.667rem;
      &:before{
        right:0.222rem;
      }
    }
  }

  div.shadow-btn{
    position: relative;
    background-color: #700080;
    border-radius: 2rem;
    margin:0.82rem auto 0;
    &:after{
      position: absolute;
      left:0;
      top:0;
      height:100%;
      margin-top:-0.3rem;
      text-align: center;
      border-radius: 2rem;
      background: linear-gradient(#ce35ba,#9e44e2);
      color:#fff;
    }
  }
}

div.new-tech-slide{
  div.page-title{
    &:after{
      background-image: url("../images/10.png");
    }
  }
  div.tech-info{
    height:14.7rem;
    margin-top:3.5rem;
  }
  div.tech-header{
    width:7.5rem;
    height:7.5rem;
    margin:-2.611rem auto 0;
    //transform-style: preserve-3d;
    transform-origin: center center;
    >div{
      width:100%;
      height:100%;
      border:3px solid #c857b0;
      border-radius: 50%;
      @include imgBgFix(7.5rem 7.5rem);
      background-image: url("../images/logo.png");
      transform: rotateY(540deg);
      opacity: 0;
      transition: transform 1.5s 1.4s ease-in-out, opacity 0.6s 1.4s;
    }
    &.act{
      >div{
        opacity: 1;
        transform: rotateY(0deg);
      }
    }
  }
  div.chat-btn{
    height:1.75rem;
    width:6.944rem;
    transform: translateY(-2rem);
    opacity: 0;
    transition: opacity 0.4s 3s, transform 0.4s 3s ease-out;
    &:after{
      content : "点我聊聊";
      line-height: 1.75rem;
      width:6.944rem;
      font-size:0.944rem;
    }
    &.act{
      opacity: 1;
      transform: translateY(0);
    }
  }
  div.name-wrap{
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 0.4s 3.4s, transform 0.4s 3.4s ease-out;
    &.act{
      opacity: 1;
      transform: translateY(0);
    }
  }
  div.tech-name{
    line-height: 2.444rem;
    text-align: center;
    color:#fff;
    font-size:1.111rem;
  }
  div.tip{
    line-height: 1.611rem;
    text-align: center;
    color:#ccc;
    font-size:0.889rem;
  }
  div.service-list{
    margin-top:0.48rem;
    text-align: center;
    >div{
      margin-left:0.417rem;
      &:first-child{
        margin-left:0;
      }
    }
  }
}

div.service-item-slide{
  div.page-title{
    &:after{
      background-image: url("../images/11.png");
    }
  }
  div.service{
    position: relative;
    height:8.389rem;
    margin-top:0.8rem;
    padding:0.861rem 0.306rem 0;
    color:#fff;
    opacity: 0;
    transition: opacity 0.6s 1s, transform 0.6s 1s ease-out;
    &.act{
      opacity: 1;
      transform: translateX(0) !important;
    }
    div.service-img{
      position: absolute;
      width:5.944rem;
      height:5.944rem;
      left:0.306rem;
      top:50%;
      margin-top:-2.972rem;
      border:0.111rem solid #fff;
      @include imgBgFix(5.944rem 5.944rem);
      background-image: url("../images/logo.png");
      opacity: 0;
      transition: opacity 0.4s 1.6s, transform 0.4s 1.6s ease-out;
      &.act{
        opacity: 1!important;
        transform: rotate(0deg) !important;;
      }
    }
    div.text-wrap{
      transform: skewX(-45deg);
      transition: transform 0.4s 1.5s;
      &.act{
        transform: skewX(0deg);
      }
      >div{
        &:nth-of-type(1){
          font-size:1.093rem;
          line-height: 1.0;
        }
        &:nth-of-type(2){
          margin:0.5rem 0;
          font-size:0.833rem;
          >strong{
            font-size:1.333rem;
            color:#ff5d8f;
            font-weight: normal;
          }
        }
        &:nth-of-type(3){
          color:#e4e2e5;
          font-size:0.889rem;
        }
      }
    }
    &.left{
      transform: translateX(6rem);
      padding-left:6.7rem;
      div.service-img{
        transform: rotate(60deg);
      }
    }
    &.right{
      transform: translateX(-6rem);
      padding-left:0.556rem;
      padding-right:6.7rem;
      div.service-img{
        left:12.139rem;
        transform: rotate(-60deg);
      }
    }
  }
}

div.tech-list-slide{
  div.page-title{
    &:after{
      background-image: url("../images/12.png");
    }
  }
  div.tech{
    position: relative;
    height:5.472rem;
    margin-top:0.611rem;
    padding: 0.778rem 0.556rem 0 5.056rem;
    opacity: 0;
    transform: translateX(5rem);
    &.t1{
      transition: opacity 0.6s 1s, transform 0.6s 1s ease-out;
      >div{
        &:nth-of-type(1){
          transition: opacity 0.4s 1.6s, transform 0.6s 1.6s ease-out;
        }
        &.item-btn{
          transition: opacity 0.3s 2.2s, right 0.4s 2.2s ease-out;
        }
      }
    }
    &.t2{
      transition: opacity 0.6s 1.3s, transform 0.6s 1.3s ease-out;
      >div{
        &:nth-of-type(1){
          transition: opacity 0.4s 1.9s, transform 0.6s 1.9s ease-out;
        }
        &.item-btn{
          transition: opacity 0.3s 2.5s, right 0.4s 2.5s ease-out;
        }
      }
    }
    &.t3{
      transition: opacity 0.6s 1.6s, transform 0.6s 1.6s ease-out;
      >div{
        &:nth-of-type(1){
          transition: opacity 0.4s 2.2s, transform 0.6s 2.2s ease-out;
        }
        &.item-btn{
          transition: opacity 0.3s 2.8s, right 0.4s 2.8s ease-out;
        }
      }
    }
    &.act{
      opacity: 1;
      transform: translateX(0);
    }
    >div{
      line-height: 1.0;
      &:nth-of-type(1){
        position: absolute;
        width:4.166rem;
        height:4.166rem;
        left:0.389rem;
        top:50%;
        margin-top:-2.083rem;
        border-radius: 50%;
        border:0.111rem solid #c857b0;
        @include imgBgFix(4.166rem 4.166rem);
        background-image: url("../images/logo.png");
        opacity: 0;
        transform: scale(0,0);
        transform-origin: 0 100%;
        &.act{
          opacity: 1;
          transform: scale(1,1);
        }
      }
      &:nth-of-type(2){
        font-size:0.889rem;
        color:#fff;
      }
      &:nth-of-type(3){
        color:#e6e6e6;
        font-size:0.722rem;
        margin:0.6rem 0;
        @include sl();
      }
      &:nth-of-type(4){
        color:#cacaca;
        font-size:0.667rem;
        >span{
          color:#ff5a8f;
          margin-left:0.5rem;
        }
      }
      &.item-btn{
        position: absolute;
        top:0.361rem;
        opacity: 0;
        right:-3rem;
        line-height: 1.222rem;
        &.act{
          opacity: 1;
          right:0.139rem;
        }
      }
    }
  }
}

div.tech-pics-slide{
  div.page-title{
    &:after{
      background-image: url("../images/17.png");
    }
  }
  div.pic-wrap{
    height:17.5rem;
    width:27rem;
    margin:1.1rem -3.5rem 0;
    div.swiper-slide{
      >div{
        width:100%;
        height:100%;
        &.pic-item-1{
          background-color: #79602b;
        }
        &.pic-item-2{
          background-color: #00efd5;
        }
        &.pic-item-3{
          background-color: #9e44e2;
        }
        &.pic-item-4{
          background-color: #bfc7d3;
        }
      }
    }
  }
}

div.video-slide{
  div.page-title{
    background-image: url("../images/18.png");
    &:after{
      width:9.861rem;
      margin-left: -4.9305rem;
      @include img("../images/19.png",9.861rem 1.778rem)
    }
  }
  div.info-wrap{
    height:15.139rem;
    width:19.056rem;
    margin:2.222rem auto 0;
  }
  .video-js{
    width:18.556rem;
    height:14rem;
    margin:0.527rem auto;
    border:1px solid #594363;
  }
}

div.act-slide{
  div.page-title{
    &:after{
      background-image: url("../images/15.png");
    }
  }
  div.grab-btn{
    width:9.056rem;
    height:2.278rem;
    opacity: 0;
    transform: rotate(-180deg);
    transition: opacity 0.3s 2.6s, transform 0.5s 2.6s ease-out;
    &:after{
      content : "马上抢";
      width:9.056rem;
      font-size:1.306rem;
      line-height: 2.278rem;
    }
    &.act{
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  &.service-item,&.one-yuan{
    div.info-wrap{
      padding:0.861rem 0;
      text-align: center;
      color:#fff;
      >div{
        margin-left:auto;
        margin-right:auto;
        &:nth-of-type(1){
          width:6.333rem;
          height:6.333rem;
          border:0.111rem solid #c857b0;
          border-radius: 0.2rem;
          @include imgBgFix(6.333rem 6.333rem);
          background-image: url("../images/logo.png");
          opacity: 0;
          transform: rotate(-180deg);
          transition: opacity 0.4s 1.7s, transform 0.4s 1.7s ease-out;
          &.act{
            opacity: 1;
            transform: rotate(0deg);
          }
        }
      }
      div.text-wrap{
        opacity: 0;
        transform: skewX(-30deg);
        transition: opacity 0.4s 2.1s, transform 0.5s 2.1s ease-out;
        &.act{
          opacity: 1;
          transform: skewX(0deg);
        }
      }
    }
  }
  &.service-item{
    div.info-wrap{
      padding-bottom:0.2rem;
      div.text-wrap{
        >div{
          &:nth-of-type(1){
            margin:0.8rem auto 0.65rem;
            font-size:1.111rem;
          }
          &:nth-of-type(2){
            font-size:0.944rem;
            >strong,>span{
              color:#fb5549;
            }
            >strong{
              font-size:1.5rem;
            }
            >b{
              color:#ff9a0c;
              font-size:1.278rem;
              font-weight: normal;
            }
          }
          &:nth-of-type(3){
            font-size:0.833rem;
            text-decoration: line-through;
          }
          &:nth-of-type(4){
            font-size:0.778rem;
            >b{
              color:#f66;
              margin:0 0.2rem;
            }
            >span{
              color:#ccc;
              margin-left:1.083rem;
            }
          }
        }
      }
    }
  }
  &.one-yuan{
    div.info-wrap{
      margin-top:0.9rem;
      div.text-wrap{
        >div{
          &:nth-of-type(1){
            margin:0.972rem auto;
            font-size:0.889rem;
            >b{
              font-size:1.111rem;
            }
          }
          &:nth-of-type(2){
            width:12.306rem;
            height:0.333rem;
            border-radius: 0.5rem;
            background-color: #f2f0f0;
            margin:0 auto;
            >div{
              height:100%;
              border-radius: 0.5rem;
              background-color: #ffc450;
              transition: width 1s 10s ease-out;
            }
          }
          &:nth-of-type(3){
            margin-top:0.5rem;
            font-size:0.833rem;
            >span{
              color:#ffc551;
            }
          }
        }
      }
      div.grab-btn{
        &:after{
          content : "一元抢"
        }
      }
    }
  }
  &.coupon{
    div.info-wrap{
      margin-top:0.9rem;
      padding:1.2rem 0;
      div{
        margin-left:auto;
        margin-right:auto;
      }
      div.coupon{
        width:18.444rem;
        height:10.833rem;
        padding-top:1.667rem;
        @include img("../images/16.png",18.444rem 10.833rem);
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 50% 0;
        transition: opacity 0.5s, transform 0.5s 1.7s ease-out;
        &.act{
          opacity: 1;
          transform: scaleY(1);
        }
        >div{
          width:15.833rem;
          margin:0 auto;
          &:nth-of-type(1){
            color:#fff;
            font-size:1.5rem;
            >span{
              font-size:0.944rem;
              float: right;
            }
          }
          &:nth-of-type(2){
            margin-top:2rem;
            font-size:0.889rem;
            >b,>strong{
              color:#fff;
            }
            >b{
              font-size:1.667rem;
            }
            >strong{
              font-weight: normal;
              margin-right:0.833rem;
              font-size:3.056rem;
            }
          }
          &:nth-of-type(3){
            height:2rem;
            line-height: 2rem;
            margin-top:0.5rem;
            font-size:0.889rem;
            color:#b41da2;
            padding-left:0.667rem;
            text-align: left;
            background: linear-gradient(#fff 50%,#f2f1f1 50%,#f2f1f1);
          }
        }
      }
      div.grab-btn{
        margin-top:1.667rem;
      }
    }
  }
}

div.health-slide{
  div.page-title{
    &:after{
      background-image: url("../images/13.png");
    }
  }
  div.info-wrap{
    margin-top:0.5rem;
    padding:0.2rem 0.833rem 0.667rem;
    max-height: 18.5rem;
    overflow-y: auto;
    color:#fff;
    opacity: 0;
    transform: rotate(90deg);
    transition: opacity 0.4s 1.3s, transform 0.5s 1.3s ease-out;
    &.act{
      opacity: 1;
      transform: rotate(0deg);
    }
    h3{
      display: inline-block;
      margin-top:0.33rem;
      border-bottom:1px solid #fff;
      margin-bottom:0.3rem;
      font-weight: bold;
    }
    p{
      line-height: 1.3rem;
      font-size:0.833rem;
    }
  }

  div.like-btn{
    left:25%;
  }
  div.share-btn{
    left:75%;
    background-image: url("../images/14.png");
  }

  div.over-tip{
    position: absolute;
    left:0;
    bottom:0.1rem;
    width:100%;
    color:#fff;
    text-align: center;
    font-size:0.833rem;
  }
}

.scale-ani{
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 50% 50%;
  transition: opacity 0.4s 1.3s, transform 0.5s 1.3s ease-out;
  &.act{
    opacity: 1;
    transform: scaleY(1);
  }
}

.endAni{
  transition-delay:0s !important;
}