@import 'common.scss';
@import "share.scss";
@import 'video.scss';

@-webkit-keyframes down-up-ani{
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate3d(0, 6px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -6px, 0);
  }
}

@keyframes down-up-ani{
  0%, 30% {
    opacity: 0;
    transform: translate3d(0, 6px,0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 0,0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -6px,0);
  }
}

@-webkit-keyframes star-ani{
  0%{
    opacity: 0;
    -webkit-transform:scale(0,0);
  }
  50% {
    opacity: 1;
    -webkit-transform:scale(1,1);
  }
  100% {
    opacity: 0;
    -webkit-transform:scale(0,0);
  }
}

@keyframes star-ani{
  0%{
    opacity: 0;
    transform:scale(0,0);
  }
  50% {
    opacity: 1;
    transform:scale(1,1);
  }
  100% {
    opacity: 0;
    transform:scale(0,0);
  }
}

@-webkit-keyframes scale-ani{
  0%{
    -webkit-transform:scale(0.7,0.7);
  }
  50% {
    -webkit-transform:scale(1,1);
  }
  100% {
    -webkit-transform:scale(0.7,0.7);
  }
}

@keyframes scale-ani{
  0%{
    transform:scale(0.7,0.7);
  }
  50% {
    transform:scale(1,1);
  }
  100% {
    transform:scale(0.7,0.7);
  }
}

body{
  position: relative;
  background: #1a0532 no-repeat;
  background-size: 20rem 200%;
  //transition: background-position-y 0.5s;
  background-position-y: 0;
  background-position-x: center;
}

div#bg{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0;
  transition: opacity 0.3s;
  >div{
    position: absolute;
    width:1.556rem;
    height:1.556rem;
    transform-origin: 50% 50%;
    @include img("../images/star.png",1.556rem 1.556rem);
    -webkit-animation: star-ani 3s infinite ease-in-out;
    animation: star-ani 3s infinite ease-in-out;
    &:nth-of-type(1){
      top:6rem;
      left:2rem;
    }
    &:nth-of-type(2){
      top:6.4rem;
      left:60%;
      animation-delay: 1.5s;
    }
    &:nth-of-type(3){
      top:6rem;
      left:70%;
      animation-delay: 1.8s;
    }
    &:nth-of-type(4){
      bottom:20%;
      left:1.5rem;
      animation-delay: 2s;
    }
    &:nth-of-type(5){
      bottom:22%;
      left:2.1rem;
      animation-delay: 2.5s;
    }
    &:nth-of-type(6){
      bottom:22%;
      right:3rem;
    }
  }
  &.act{
    opacity: 1;
  }
}

div.journal-page{
  position: relative;
  height:100%;
}

div.page-content{
  height:100%;
}

.page-header{
  position: fixed;
  left:50%;
  width:20rem;
  height:3.3889rem;
  padding-left:0.667rem;
  margin-left:-10rem;
  z-index:2;
  opacity: 0;
  top:0.333rem;
  transition: opacity 0.5s 0.5s;
  div.logo{
    width:3.389rem;
    height:3.389rem;
    margin-right:1.112rem;
    border-radius: 50%;
    float: left;
    @include imgBgFix(3.389rem 3.389rem);
  }
  div.info{
    width:12.667rem;
    height:100%;
    float: left;
    div.title{
      color:#fff;
      line-height:2.222rem;
      @include sl();
    }
    div.static{
      height:1.083rem;
      width:80%;
      line-height:1.083rem;
      color:#fde48b;
      font-size:0.889rem;
      >div{
        width:50%;
        float: left;
        &.view{
          padding-left:1.417rem;
          @include img('../images/view.png',1.154rem 1.083rem)
        }
        &.like{
          padding-left:1.278rem;
          @include img('../images/like.png',1.056rem 1.083rem)
        }
      }
    }
  }
  div.right-arrow{
    height:100%;
    width:2rem;
    position: absolute;
    right:0;
    top:0;
    &:after{
      content: "";
      position: absolute;
      top:50%;
      left:40%;
      width:0.44rem;
      height:0.44rem;
      margin-top:-0.22rem;
      margin-left:-0.22rem;
      border-left:0.1rem solid #fff;
      border-bottom:0.1rem solid #fff;
      @include rotate(-135deg)
    }
  }
  &.common{
    height:1.528rem;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0));
    div.logo{
      width:1.528rem;
      height:1.528rem;
      @include imgBgFix(1.528rem 1.528rem);
    }
    div.info{
      width:14.528rem;
      div.title{
        line-height: 1.528rem;
      }
    }
  }
  &.act{
    opacity: 1;
  }
}

.slide-arrow{
  display: none;
  position: fixed;
  width:1.25rem;
  height:0.972rem;
  left:50%;
  bottom:0.5rem;
  margin-left:-0.625rem;
  z-index:1;
  @include img("../images/20.png",1.25rem 0.972rem);
  -webkit-animation: down-up-ani 1.5s infinite ease-in-out;
  animation: down-up-ani 1.5s infinite ease-in-out;
  &.act{
    display: block;
  }
}

div.index-slide{
  position: relative;
  div.center-circle{
    position: absolute;
    width:10.666rem;
    height:10.666rem;
    top:50%;
    left:50%;
    margin-left:-5.333rem;
    margin-top:-5.333rem;
    border-radius: 50%;
    @include img("../images/02.png",10.666rem 10.666rem);
    transform: rotate(720deg) scale(0,0);
    transform-origin: 50% 50%;
    transition: transform 0.6s ease-out;
    &.act{
      transform: rotate(0deg) scale(1,1);
      >canvas:nth-of-type(1){
        opacity: 1;
        transform: scale(1,1)
      }
    }
    >canvas:nth-of-type(1){
      position: absolute;
      width:12.888rem;
      height:12.888rem;
      top:-1.111rem;
      left:-1.111rem;
      transform-origin: 50% 50%;
      transform: scale(0.82759,0.82759);
      opacity: 0;
      transition: transform 0.4s 0.7s, opacity 0.3s 0.7s;
    }
    div,canvas{
      position: absolute;
    }
    canvas.line-top{
      width:4.5rem;
      height:2.972rem;
      top:-3.3rem;
      left:3rem;
      opacity: 0;
      transform: translate3d(200%,-200%,0);
      transition: transform 0.4s 1.1s, opacity 0.3s 1.1s;
      &.act{
        transform: translate3d(0,0,0);
      }
    }
    canvas.line-bottom{
      width:3.167rem;
      height:2.056rem;
      top:11.15rem;
      left:1.2rem;
      opacity: 0;
      transform: translate3d(-200%,200%,0);
      transition: transform 0.4s 1.4s, opacity 0.3s 1.4s;
      &.act{
        transform: translate3d(0,0,0);
      }
    }
    canvas.line-top,canvas.line-bottom{
      &.act{
        opacity: 1;
      }
    }
    div.circle{
      border-radius: 50%;
      opacity: 0;
      transform: translateY(400%);
      transform-origin: 50% 50%;
      &.act{
        opacity: 0.5;
        transform: translateY(0)
      }
    }
    div.small{
      top:13rem;
      left:4rem;
      width:1.75rem;
      height:1.75rem;
      background-color: #998045;
      transition: opacity .6s 3.2s, transform 0.6s 3.2s ease-out;
    }
    div.mid{
      top:7.8rem;
      left:-4rem;
      width:2.472rem;
      height:2.472rem;
      background-color: #79602b;
      transition: opacity .6s 3.9s,transform 0.6s 3.9s ease-out;
    }
    div.big{
      top:7rem;
      right:-4rem;
      width:3.444rem;
      height:3.444rem;
      background-color: #652596;
      transition: opacity .6s 4.6s,transform 0.6s 4.6s ease-out;
    }
  }

  div.text{
    position: absolute;
    left:0;
    top:50%;
    width:100%;
    height:6.388rem;
    margin-top:-5.194rem;
    text-align: center;
    >canvas{
      display: inline-block;
      width:16.278rem;
      height:5.556rem;
      margin-bottom:-1.4rem;
      opacity: 0;
      transform: scale(0,0) rotate(370deg) skew(0deg,0deg);
      transform-origin: 50% 50%;
      transition: opacity 0.2s 1.9s, transform 0.7s 1.9s ease-out;
      &.act{
        transform: scale(1,1) rotate(-5deg) skew(-5deg,-5deg);
        opacity: 1;
      }
    }
    >div{
      display: inline-block;
      padding:0 1rem;
      height:2.222rem;
      line-height: 2.222rem;
      color:#fff;
      background-color: #00efd5;
      font-size:1.111rem;
      font-weight: bold;
      border-radius: 1.2rem;
      transform: rotate(0deg);
      opacity: 0;
      transition: transform 0.6s 2.7s ease-out, opacity 0.4s 2.7s;
      &.act{
        opacity: 1;
        transform: rotate(-10deg);
      }
    }
  }
}

div.common-slide{
  position: relative;
  div.wrap{
    position: absolute;
    height:22rem;
    width:100%;
    left:0;
    top:50%;
    margin-top:-12.5rem;
  }
  div.info-wrap{
    width:18.611rem;
    border-radius: 0.3rem;
    border:1px solid #6c3771;
    background-color: rgba(66,33,78,0.5);
    margin-left:auto;
    margin-right:auto;
    &.opacity-ani{
      opacity: 0;
      transform: translateY(-3.5rem);
      transition: opacity 0.4s 1.2s, transform 0.5s 1.2s ease-out;
      &.act{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  div.page-title{
    position: relative;
    height:3.694rem;
    padding-top:1.8rem;
    @include img("../images/09.png",9.444rem 3.694rem);
    background-position: center center;
    text-align: center;
    opacity: 0;
    transform: translate3d(0,-5rem,0);
    transition: opacity 0.4s, transform 0.4s;
    >canvas{
      width:18.889rem;
      height:1.778rem;
      opacity: 0;
      transform: scaleX(0);
      transform-origin: 50% 50%;
      transition: opacity 0.4s 0.8s, transform 0.4s 0.8s;
    }
    &.act{
      opacity: 1;
      transform: translate3d(0,0,0);
      &:before{
        transform: scaleY(1);
      }
      >canvas{
        opacity: 1;
        transform: scaleX(1);
      }
    }
    &:before{
      content : "";
      position: absolute;
      width:11.972rem;
      height:3.694rem;
      left:20%;
      top:0;
      transform: scaleY(0);
      transform-origin: 50% 100%;
      @include img("../images/03.png",11.972rem 3.694rem);
      transition: transform 0.4s 0.9s;
    }
  }
  div.page-end-title{
    height:2.222rem;
    width:14.944rem;
    line-height: 2.222rem;
    margin:0.5rem auto;
    font-size:1.111rem;
    text-align: center;
    color:#fff;
    font-style: italic;
    background: linear-gradient(to bottom, #6acfe7 30%, #01c8ab);
    border-radius: 1rem;
    opacity: 0;
    transform: translateX(10rem) skewX(45deg);
    transition: opacity 0.4s, transform 0.7s;
    &.act{
      opacity: 1;
      transform: translateX(0) skewX(0deg);
    }
  }
  div.bottom-btn{
    position: absolute;
    width:8.944rem;
    height:1.861rem;
    bottom:2.2rem;
    left:50%;
    padding-left:5.278rem;
    margin-left:-4.472rem;
    line-height: 1.861rem;
    color:#fff;
    @include imgBgFix(8.944rem 1.861rem);
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s 2s, transform 0.4s 2s ease-out;
    z-index:2;
    &.act{
      opacity: 1;
      transform: translateY(0);
    }
  }
  div.like-btn,div.liked-btn{
    background-image: url("../images/08.png");
  }
  div.club-btn{
    background-image: url("../images/26.png");
  }
  div.item-btn{
    position: relative;
    display: inline-block;
    height:1.222rem;
    line-height: 1.222rem;
    color:#fff;
    font-size:0.722rem;
    max-width: 4.35rem;
    @include sl();
    z-index:0;
    &:before,&:after{
      content : "";
      position: absolute;
    }
    &:before{
      width:6px;
      height:6px;
      top:50%;
      margin-top:-3px;
      border-radius: 50%;
      background-color: #422051;
      z-index:1;
    }
    &:after{
      top:0;
      right:0;
      left:0;
      bottom:0;
      background: linear-gradient(#ca4ace,#980f9c);
      border-radius: 4px;
      z-index:-1;
    }
    &.left{
      padding-right:0.306rem;
      padding-left:0.722rem;
      &:before{
        left:0.222rem;
      }
    }
    &.right{
      padding-left:0.472rem;
      padding-right:0.722rem;
      font-size:0.667rem;
      &:before{
        right:0.222rem;
      }
    }
  }

  div.shadow-btn{
    position: relative;
    background-color: #700080;
    border-radius: 2rem;
    margin:0.82rem auto 0;
    &:after{
      position: absolute;
      left:0;
      top:0;
      height:100%;
      margin-top:-0.3rem;
      text-align: center;
      border-radius: 2rem;
      background: linear-gradient(#ce35ba,#9e44e2);
      color:#fff;
    }
  }

  div.like-btn.over,div.liked-btn.over,div.club-btn.over{
    left:25%;
  }
  div.share-btn{
    left:75%;
    background-image: url("../images/14.png");
  }
}

div.new-tech-slide{
  div.tech-header{
    position: relative;
    width:10.556rem;
    height:12.111rem;
    margin:0 auto;
    border-radius: 0.9rem;
    border: 0.222rem solid #fff;
    @include imgBgFix(10.556rem 12.111rem);
    opacity: 0;
    transition: opacity 0.4s 1.4s, transform 0.5s 1.4s ease-out;
    transform-origin: center center;
    transform: translateX(3rem) rotate(180deg);
    &.act{
      opacity: 1;
      transform: translateX(0) rotate(0deg);
    }
    >div{
      position: absolute;
      width:2.2778rem;
      height:2.8333rem;
      top:-1.4rem;
      left:-1.13rem;
      background: linear-gradient(to right bottom, #b33bfa, #6600a5);
      border-radius: 50% 50% 0 100%/ 50% 50% 0 50%;
      opacity:0;
      transform-origin:100% 100%;
      transition: opacity 0.4s 2.2s;
      animation: scale-ani 2s infinite ease-in-out;
      &:after{
        content: "点我聊聊";
        position: absolute;
        color:#fff;
        font-size:0.722rem;
        left:0.04rem;
        top:0.35rem;
        width:2rem;
        text-align: center;
        line-height: 1.3;
        transform: rotate(-45deg);
      }
      &.act{
        opacity: 1;
      }
    }
  }
  div.tech-name{
    margin-top:0.22rem;
    line-height: 1.8;
    font-size:1.111rem;
    text-align: center;
    color:#fff;
    @include sl();
    opacity:0;
    transform: translateY(-2rem);
    transition: opacity 0.4s 1.9s, transform 0.4s 1.9s ease-out;
    &.act{
      opacity:1;
      transform: translateY(0);
    }
  }
  div.tech-desc{
    line-height: 1.3;
    font-size:0.889rem;
    text-align: center;
    color:#ccc;
    @include sl();
    opacity:0;
    transform: translateY(2rem);
    transition: opacity 0.4s 1.9s, transform 0.4s 1.9s ease-out;
    &.act{
      opacity:1;
      transform: translateY(0);
    }
  }
  div.service-list{
    height:1.222rem;
    margin-top:0.35rem;
    opacity: 0;
    text-align: center;
    transform: translateY(3rem);
    transition: opacity 0.5s 2.3s, transform 0.5s 2.3s ease-out;
    >div.item-btn{
      max-width: 5rem;
      margin-left:0.3rem;
      &:nth-of-type(1){
        margin-left:0;
      }
    }
    >div:first-child:nth-last-child(1){
      max-width: 10rem;
    }
    >div:first-child:nth-last-child(2),>div:first-child:nth-last-child(2)~div{
      max-width: 7rem;
    }
    &.act{
      opacity:1;
      transform: translateY(0);
    }
  }
  div.tech-info{
    padding:0.8rem 1rem 0.4rem;
  }
}

div.service-item-slide{
  div.service{
    position: relative;
    height:8.389rem;
    margin-top:0.8rem;
    padding:0.861rem 0.306rem 0;
    color:#fff;
    opacity: 0;
    transition: opacity 0.6s 1s, transform 0.6s 1s ease-out;
    &.act{
      opacity: 1;
      transform: translateX(0) !important;
    }
    div.service-img{
      position: absolute;
      width:5.944rem;
      height:5.944rem;
      left:0.306rem;
      top:50%;
      margin-top:-2.972rem;
      border:0.111rem solid #fff;
      @include imgBgFix(5.944rem 5.944rem);
      opacity: 0;
      transition: opacity 0.4s 1.6s, transform 0.4s 1.6s ease-out;
      &.act{
        opacity: 1!important;
        transform: rotate(0deg) !important;;
      }
    }
    div.text-wrap{
      transform: skewX(-45deg);
      transition: transform 0.4s 1.5s;
      &.act{
        transform: skewX(0deg);
      }
      >div{
        &:nth-of-type(1){
          font-size:1.093rem;
          line-height: 1.0;
        }
        &:nth-of-type(2){
          margin:0.5rem 0;
          font-size:0.833rem;
          >strong{
            font-size:1.333rem;
            color:#ff5d8f;
            font-weight: normal;
          }
        }
        &:nth-of-type(3){
          color:#e4e2e5;
          font-size:0.889rem;
          @include slh(2);
        }
      }
    }
    &.left{
      transform: translateX(6rem);
      padding-left:6.7rem;
      div.service-img{
        transform: rotate(60deg);
      }
    }
    &.right{
      transform: translateX(-6rem);
      padding-left:0.556rem;
      padding-right:6.7rem;
      div.service-img{
        left:12.139rem;
        transform: rotate(-60deg);
      }
    }
    &.single{
      margin-top: 3rem;
    }
  }
}

div.tech-list-slide{
  div.tech{
    position: relative;
    height:5.472rem;
    margin-top:0.611rem;
    padding: 0.778rem 0.556rem 0 5.056rem;
    opacity: 0;
    transform: translateX(5rem);
    &.t0{
      transition: opacity 0.6s 1s, transform 0.6s 1s ease-out;
      >div{
        &:nth-of-type(1){
          transition: opacity 0.4s 1.6s, transform 0.6s 1.6s ease-out;
          >div{
            transition: opacity 0.4s 2.2s, transform 0.6s 2.2s ease-out;
          }
        }
        &.item-btn{
          transition: opacity 0.3s 2.2s, transform 0.4s 2.2s ease-out;
        }
      }
    }
    &.t1{
      transition: opacity 0.6s 1.3s, transform 0.6s 1.3s ease-out;
      >div{
        &:nth-of-type(1){
          transition: opacity 0.4s 1.9s, transform 0.6s 1.9s ease-out;
          >div{
            transition: opacity 0.4s 2.5s, transform 0.6s 2.5s ease-out;
          }
        }
        &.item-btn{
          transition: opacity 0.3s 2.5s, transform 0.4s 2.5s ease-out;
        }
      }
    }
    &.t2{
      transition: opacity 0.6s 1.6s, transform 0.6s 1.6s ease-out;
      >div{
        &:nth-of-type(1){
          transition: opacity 0.4s 2.2s, transform 0.6s 2.2s ease-out;
          >div{
            transition: opacity 0.4s 2.8s, transform 0.6s 2.8s ease-out;
          }
        }
        &.item-btn{
          transition: opacity 0.3s 2.8s, transform 0.4s 2.8s ease-out;
        }
      }
    }
    &.act{
      opacity: 1;
      transform: translateX(0);
    }
    >div{
      &:nth-of-type(1){
        position: absolute;
        width:4.361rem;
        height:4.833rem;
        left:0.361rem;
        top:50%;
        margin-top:-2.4165rem;
        border-radius: 0.5rem;
        border:0.111rem solid #c857b0;
        @include imgBgFix(4.361rem 4.833rem);
        opacity: 0;
        transform: scale(0,0);
        transform-origin: 0 100%;
        &.act{
          opacity: 1;
          transform: scale(1,1);
        }
        >div{
          position: absolute;
          width:1.528rem;
          height:1.889rem;
          top:-1.15rem;
          left:-1rem;
          background: linear-gradient(to right bottom, #b33bfa, #6600a5);
          border-radius: 50% 50% 0 100% / 50% 50% 0 50%;
          opacity: 0;
          transform-origin: 100% 100%;
          transform: scale(0,0);
          &:after{
            content: "点我聊聊";
            position: absolute;
            color:#fff;
            font-size:0.722rem;
            left:-0.2rem;
            top:0;
            width:2rem;
            text-align: center;
            line-height: 1.3;
            transform: rotate(-45deg) scale(0.65);
          }
          &.act{
            opacity: 1;
            transform: scale(1,1);
          }
        }
      }
      &:nth-of-type(2){
        line-height: 1.9;
        margin-top:-0.2rem;
        font-size:0.889rem;
        color:#fff;
        @include sl();
      }
      &:nth-of-type(3){
        color:#e6e6e6;
        font-size:0.722rem;
        @include sl();
        line-height: 1.4;
      }
      &:nth-of-type(4){
        color:#cacaca;
        font-size:0.667rem;
        @include sl();
        >span{
          color:#ff5a8f;
          margin-left:0.5rem;
        }
      }
      &.item-btn{
        position: absolute;
        top:0.361rem;
        opacity: 0;
        right:0.139rem;
        line-height: 1.222rem;
        transform: translateX(150%);
        &.act{
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

div.tech-pics-slide{
  div.pic-wrap{
    height:100%;
    width:27rem;
    margin:0 -3.5rem;
    div.swiper-slide{
      div{
        width:100%;
        height:100%;
      }
      img{
        margin-top:2rem;
        width:13.527rem;
        height:17.487rem;
      }
    }
  }
}

div.video-slide{
  div.info-wrap{
    height:15.139rem;
    width:19.056rem;
    margin:2.222rem auto 0;
    >div{
      width:18.556rem;
      height:14rem;
      margin:0.527rem auto;
      border:1px solid #594363;
      background: #000;
    }
    video{
      width:100%;
      height:100%;
    }
  }
}

div.act-slide{
  div.grab-btn{
    width:9.056rem;
    height:2.278rem;
    opacity: 0;
    transform: rotate(-180deg);
    transition: opacity 0.3s 2.6s, transform 0.5s 2.6s ease-out;
    &:after{
      content : "马上抢";
      width:9.056rem;
      font-size:1.306rem;
      line-height: 2.278rem;
    }
    &.act{
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  &.timeLimit,&.oneYuan,&.plumFlower{
    div.info-wrap{
      padding:0.861rem 0;
      text-align: center;
      color:#fff;
      >div{
        margin-left:auto;
        margin-right:auto;
        &:nth-of-type(1){
          width:6.333rem;
          height:6.333rem;
          border:0.111rem solid #c857b0;
          border-radius: 0.2rem;
          @include imgBgFix(6.333rem 6.333rem);
          opacity: 0;
          transform: rotate(-180deg);
          transition: opacity 0.4s 1.7s, transform 0.4s 1.7s ease-out;
          &.act{
            opacity: 1;
            transform: rotate(0deg);
          }
        }
      }
      div.text-wrap{
        opacity: 0;
        transform: skewX(-30deg);
        transition: opacity 0.4s 2.1s, transform 0.5s 2.1s ease-out;
        &.act{
          opacity: 1;
          transform: skewX(0deg);
        }
      }
    }
  }
  &.timeLimit{
    div.info-wrap{
      padding-bottom:0.2rem;
      div.text-wrap{
        >div{
          &:nth-of-type(1){
            margin:0.8rem auto 0.65rem;
            font-size:1.111rem;
          }
          &:nth-of-type(2){
            font-size:0.944rem;
            >strong,>span:nth-of-type(1){
              color:#fb5549;
            }
            strong{
              font-size:1.5rem;
            }
            b{
              color:#ff9a0c;
              font-size:1.278rem;
              font-weight: normal;
            }
          }
          &:nth-of-type(3){
            font-size:0.833rem;
            text-decoration: line-through;
          }
          &:nth-of-type(4){
            font-size:0.778rem;
            >b{
              color:#f66;
              margin:0 0.2rem;
            }
            >span{
              color:#ccc;
              margin-left:1.083rem;
            }
          }
        }
      }
    }
  }
  &.oneYuan,&.plumFlower{
    div.info-wrap{
      margin-top:0.9rem;
      div.text-wrap{
        >div{
          &:nth-of-type(1){
            margin:0.972rem auto;
            font-size:0.889rem;
            >b{
              font-size:1.111rem;
            }
          }
          &:nth-of-type(2){
            width:12.306rem;
            height:0.333rem;
            border-radius: 0.5rem;
            background-color: #f2f0f0;
            margin:0 auto;
            >div{
              height:100%;
              border-radius: 0.5rem;
              background-color: #ffc450;
              transition: width 1s 10s ease-out;
            }
          }
          &:nth-of-type(3){
            margin-top:0.5rem;
            font-size:0.833rem;
            >span{
              color:#ffc551;
            }
          }
        }
      }
      div.grab-btn{
        &:after{
          content : "一元抢"
        }
      }
    }
  }
  &.coupon{
    div.info-wrap{
      margin-top:0.9rem;
      padding:1.2rem 0;
      div{
        margin-left:auto;
        margin-right:auto;
      }
      div.coupon{
        position: relative;
        width:18.444rem;
        height:10.833rem;
        padding-top:1.667rem;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 50% 0;
        transition: opacity 0.5s, transform 0.5s 1.7s ease-out;
        &.act{
          opacity: 1;
          transform: scaleY(1);
        }
        >canvas{
          position: absolute;
          top:0;
          left:0;
          width:18.444rem;
          height:10.833rem;
          z-index:-1;
        }
        >div{
          width: 15.833rem;
          margin: 0 auto;
          &:nth-of-type(1) {
            color: #fff;
            font-size: 1.5rem;
            > span {
              font-size: 0.944rem;
              float: right;
            }
          }
          &:nth-of-type(2) {
            margin-top: 2rem;
            font-size: 0.889rem;
            > b, > strong {
              color: #fff;
            }
            > b {
              font-size: 1.667rem;
            }
            > strong {
              font-weight: normal;
              margin-right: 0.833rem;
              font-size: 3.056rem;
            }
          }
          &:nth-of-type(3) {
            height: 2rem;
            line-height: 2rem;
            margin-top: 0.5rem;
            font-size: 0.889rem;
            color: #b41da2;
            padding-left: 0.667rem;
            text-align: left;
            @include sl();
            background: linear-gradient(#fff 50%, #f2f1f1 50%, #f2f1f1);
          }
        }
      }
      div.grab-btn{
        margin-top:1.667rem;
      }
    }
  }
}

div.health-slide{
  div.info-wrap{
    margin-top:0.5rem;
    padding:0.2rem 0.833rem 0.667rem;
    max-height: 18.5rem;
    overflow-y: auto;
    color:#fff;
    opacity: 0;
    transform: rotate(90deg);
    transition: opacity 0.4s 1.3s, transform 0.5s 1.3s ease-out;
    line-height: 1.3rem;
    font-size:0.833rem;
    &.act{
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}

div.actDesc-slide{
  div.info-wrap{
    height:17.5rem;
    padding:0.8rem 0.722rem;
    margin-top:0.8rem;
    color:#fff;
    font-size:0.889rem;
    text-indent: 1.778rem;
    border:1px solid #fff;
    box-shadow: 0 0 10px #902099, 0 0 10px #902099 inset;
    overflow-y: auto;
    opacity: 0;
    transform: rotate(90deg);
    transition: opacity 0.4s 1.3s, transform 0.5s 1.3s ease-out;
    &.act{
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  div.act-time{
    height:1.25rem;
    line-height: 1.25rem;
    width:9.889rem;
    text-align: center;
    color:#fff;
    font-size:0.667rem;
    border:1px solid #fff;
    border-radius: 4px;
    background: #902099;
    margin: -0.625rem auto 0;
    box-shadow: 0 0 10px #902099;
    opacity: 0;
    transform: translateY(4rem);
    transition: opacity 0.3s 1.7s, transform 0.4s 1.7s ease-out;
    &.act{
      opacity: 1;
      transform: translateY(0rem);
    }
  }
}

.scale-ani{
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 50% 50%;
  transition: opacity 0.4s 1.3s, transform 0.5s 1.3s ease-out;
  &.act{
    opacity: 1;
    transform: scaleY(1);
  }
}

.scale-ani-all{
  transform: scale(0,0);
  &.act{
    transform: scale(1,1);
  }
}

.endAni{
  transition-duration: 0.05s !important; // 如果设置0s，transitionend事件不会触发
  transition-delay:0s !important;
}

div.page-error{
  position: absolute;
  text-align: center;
  color:#fff;
  font-size:2rem;
  line-height: 2.2rem;
  font-weight: bold;
  top:40%;
  left:0;
  width:100%;
  >span{
    font-size:0.887rem
  }
}

div.page-redirect{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #fff;
  z-index:1000;
  >div{
    position: absolute;
    top:40%;
    left:0;
    width:20rem;
    transform: translateY(-50%);
    >div{
      margin:0 auto;
      &:nth-of-type(1){
        width:11.278rem;
        height:12.556rem;
        @include img('../images/22.jpg',11.278rem 12.556rem);
      }
      &:nth-of-type(2){
        height:1.889rem;
        width:7.778rem;
        line-height: 1.889rem;
        margin-top:1.8rem;
        font-size:1rem;
        color:#fff;
        border-radius: 0.3rem;
        background: #f66;
        text-align: center;
      }
    }
    &.club{
      >div:nth-of-type(1){
        width:10rem;
        height:11.583rem;
        @include img('../images/21.png',10rem 11.583rem);
      }
    }
  }
}

.default-img-bg{
  background: #9e44e2 repeating-linear-gradient(45deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 5px, #666 5px, #666 7px, rgba(0,0,0,0.2) 7px, rgba(0,0,0,0.2) 12px);
}

.qr-code{
  position: relative;
  height:11rem;
  width:10.4167rem;
  margin:1.778rem auto 0;
  padding-top:1.02795rem;
  opacity: 0;
  transform: scale(0,0);
  transform-origin: 50% 50%;
  transition: opacity 0.4s 1s, transform 0.6s 1s ease-out;
  &.act{
    opacity: 1;
    transform: scale(1,1);
  }
  >canvas{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  >div.code{
    position: relative;
    height:8.944rem;
    width:8.944rem;
    margin:0 auto;
    @include img("../images/24.png",8.944rem 8.944rem);
    border-radius: 0.6rem;
    padding-top:0.8055rem;
    >img{
      display: block;
      width:7.333rem;
      height:7.333rem;
      margin: 0 auto;
    }
  }
  >div.circle{
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(5rem);
    &.act{
      opacity: 1;
      transform: translateY(0);
    }
    &.left{
      width:2.5rem;
      height:2.5rem;
      top:1.944rem;
      left:-3.222rem;
      background: rgba(134,90,51,0.8);
      transition: opacity 0.3s 2.1s, transform 0.3s 2.1s ease-out;
    }
    &.bottom{
      width:1.778rem;
      height:1.778rem;
      background: rgba(131,100,58,0.8);
      bottom:-1.833rem;
      right:-2.222rem;
      transition: opacity 0.3s 2.5s, transform 0.3s 2.5s ease-out;
    }
    &.right{
      width:3.444rem;
      height:3.444rem;
      background: rgba(107,37,152,0.5);
      right:-3.833rem;
      top:1rem;
      transition: opacity 0.3s 2.8s, transform 0.3s 2.8s ease-out;
    }
  }
}

.attention-tip{
  height:3.111rem;
  width:13.889rem;
  padding-left:3.667rem;
  margin-top:1.5rem;
  margin-left:2.222rem;
  @include img("../images/25.png",3.111rem 3.111rem);
  opacity: 0;
  transform: translateY(4rem);
  transition: opacity 0.4s 1.6s, transform 0.5s 1.6s ease-out;
  &.act{
    opacity: 1;
    transform: translateY(0);
  }
  >div{
    position: relative;
    width:9.3889rem;
    height:2.5556rem;
    line-height: 2.9rem;
    text-align: center;
    font-size:0.778rem;
    color:#fff;
    z-index:0;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: opacity 0.4s 2.1s, transform 0.5s 2.1s;
    &.act{
      opacity: 1;
      transform: scaleX(1);
    }
    >canvas{
      position: absolute;
      width:9.3889rem;
      height:2.5556rem;
      top:0;
      left:0;
      z-index:-1;
    }
  }
}

.vjs-poster{
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
.vjs-current-time{
  display: block !important;
}
.vjs-remaining-time{
  display: none !important;
}

@-webkit-keyframes rotate-ani{
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate-ani{
 to {
    transform: rotate(360deg);
  }
}

.music-icon{
  display: none;
  position: fixed;
  top:1.75rem;
  right:0.583rem;
  width:2.25rem;
  height:2.25rem;
  @include img("../images/music.png",2.25rem 2.25rem);
  background-color: rgba(255,255,255,0.2);
  border-radius: 50%;
  animation: rotate-ani 3s linear infinite;
  animation-play-state: paused;
  z-index:3;
  &.act{
    animation-play-state: running;
  }
}