@charset "UTF-8";
body.tmp_2 {
  background: -webkit-linear-gradient(top, #fb4b25 60%, #d1101a 100%);
  background: linear-gradient(to bottom, #fb4b25 60%, #d1101a 100%); }
  body.tmp_2.common {
    background: url("../images/2/snow-bg.jpg") no-repeat, #d91b1c;
    background-size: 20rem 24.611rem, cover; }

.tmp-second-page {
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 20rem 4.416rem; }
  .tmp-second-page:before, .tmp-second-page:after {
    content: "";
    position: absolute;
    opacity: 0; }
  .tmp-second-page:before {
    width: 2.361rem;
    height: 3.5rem;
    left: 0.361rem;
    bottom: 2.306rem;
    background-size: 2.361rem 3.5rem;
    background-image: url("../images/2/11.png");
    background-repeat: no-repeat; }
  .tmp-second-page:after {
    width: 3.306rem;
    height: 5.778rem;
    bottom: 2rem;
    right: 0;
    background-size: 3.306rem 5.778rem;
    background-image: url("../images/2/13.png");
    background-repeat: no-repeat; }
  .tmp-second-page.common:before, .tmp-second-page.common:after {
    opacity: 1; }
  .tmp-second-page header {
    position: absolute;
    height: 3.333rem;
    top: 0.306rem;
    left: 50%;
    width: 20rem;
    margin-left: -10rem;
    z-index: 10;
    display: none;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: opacity 0.3s 2s, -webkit-transform 0.3s 2s ease-out;
    transition: opacity 0.3s 2s, -webkit-transform 0.3s 2s ease-out;
    transition: opacity 0.3s 2s, transform 0.3s 2s ease-out;
    transition: opacity 0.3s 2s, transform 0.3s 2s ease-out, -webkit-transform 0.3s 2s ease-out; }
    .tmp-second-page header > div:nth-of-type(1) {
      width: 3.333rem;
      height: 3.333rem;
      border-radius: 50%;
      background-size: 3.333rem 3.333rem;
      background-repeat: no-repeat;
      margin-left: 0.444rem;
      margin-right: 0.722rem;
      float: left; }
    .tmp-second-page header > div:nth-of-type(2) {
      color: #fff;
      line-height: 3.333rem;
      font-size: 1.111rem;
      width: 13rem;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .tmp-second-page header.common {
      height: 1.5rem; }
      .tmp-second-page header.common > div:nth-of-type(1) {
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem 1.5rem;
        background-repeat: no-repeat;
        margin-left: 0.667rem;
        margin-right: 0.472rem; }
      .tmp-second-page header.common > div:nth-of-type(2) {
        line-height: 1.5rem;
        font-size: 1rem; }
      .tmp-second-page header.common:after {
        content: "";
        position: absolute;
        width: 0.583rem;
        height: 0.833rem;
        right: 0.611rem;
        top: 0.3rem;
        background-size: 0.583rem 0.833rem;
        background-image: url("../images/2/9.png");
        background-repeat: no-repeat; }
    .tmp-second-page header.act {
      display: block; }
    .tmp-second-page header.show {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .tmp-second-page .center-circle {
    position: absolute;
    width: 21.333rem;
    height: 21.333rem;
    top: -3.8rem;
    left: 50%;
    margin-left: -10.6665rem;
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.4s ease-out;
    transition: opacity 0.3s, -webkit-transform 0.4s ease-out;
    transition: opacity 0.3s, transform 0.4s ease-out;
    transition: opacity 0.3s, transform 0.4s ease-out, -webkit-transform 0.4s ease-out; }
    .tmp-second-page .center-circle.act {
      opacity: 1;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }
  .tmp-second-page .statistic-data {
    position: absolute;
    width: 4.611rem;
    height: 8.75rem;
    top: 4.111rem;
    right: 0.167rem;
    padding-top: 4.255rem;
    background-size: 4.611rem 8.75rem;
    background-image: url("../images/2/4.png");
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: translateX(6rem);
            transform: translateX(6rem);
    -webkit-transition: opacity 0.3s 2s, -webkit-transform 0.4s 2s ease-out;
    transition: opacity 0.3s 2s, -webkit-transform 0.4s 2s ease-out;
    transition: opacity 0.3s 2s, transform 0.4s 2s ease-out;
    transition: opacity 0.3s 2s, transform 0.4s 2s ease-out, -webkit-transform 0.4s 2s ease-out; }
    .tmp-second-page .statistic-data > div {
      width: 3.583rem;
      height: 2.083rem;
      line-height: 2.083rem;
      padding-left: 1.575rem;
      margin: 0.083rem auto 0;
      font-size: 0.778rem;
      color: #faefcc; }
    .tmp-second-page .statistic-data:before {
      position: absolute;
      content: "";
      width: 2.361rem;
      height: 2.833rem;
      top: 1.194rem;
      left: 50%;
      margin-left: -1.1805rem;
      background-size: 2.361rem 2.833rem;
      background-image: url("../images/2/2.png");
      background-repeat: no-repeat; }
    .tmp-second-page .statistic-data.act {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
  .tmp-second-page .left-tree, .tmp-second-page .right-tree {
    position: absolute;
    width: 10.916rem;
    height: 11.638rem;
    bottom: 9rem;
    opacity: 0;
    background-size: 10.916rem 11.638rem;
    background-image: url("../images/2/10.png");
    background-repeat: no-repeat; }
    .tmp-second-page .left-tree.act, .tmp-second-page .right-tree.act {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
  .tmp-second-page .left-tree {
    left: -3.8rem;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
    -webkit-transition: opacity 0.3s 0.5s, -webkit-transform 0.4s 0.5s;
    transition: opacity 0.3s 0.5s, -webkit-transform 0.4s 0.5s;
    transition: opacity 0.3s 0.5s, transform 0.4s 0.5s;
    transition: opacity 0.3s 0.5s, transform 0.4s 0.5s, -webkit-transform 0.4s 0.5s; }
  .tmp-second-page .right-tree {
    right: -3.8rem;
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
    -webkit-transition: opacity 0.3s 0.7s, -webkit-transform 0.4s 0.7s;
    transition: opacity 0.3s 0.7s, -webkit-transform 0.4s 0.7s;
    transition: opacity 0.3s 0.7s, transform 0.4s 0.7s;
    transition: opacity 0.3s 0.7s, transform 0.4s 0.7s, -webkit-transform 0.4s 0.7s; }
  .tmp-second-page .main-tree {
    position: absolute;
    width: 20rem;
    height: 23rem;
    left: 0;
    bottom: 6.027rem;
    background-size: 20rem 23rem;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.4s 0.1s ease-out;
    transition: opacity 0.3s 0.1s, -webkit-transform 0.4s 0.1s ease-out;
    transition: opacity 0.3s 0.1s, transform 0.4s 0.1s ease-out;
    transition: opacity 0.3s 0.1s, transform 0.4s 0.1s ease-out, -webkit-transform 0.4s 0.1s ease-out; }
    .tmp-second-page .main-tree:after {
      content: "";
      position: absolute;
      width: 8.444rem;
      height: 9.388rem;
      left: 50%;
      top: 0;
      margin-left: -4.36rem;
      background-size: 8.444rem 9.388rem;
      background-image: url("../images/2/6.png");
      background-repeat: no-repeat; }
    .tmp-second-page .main-tree.act {
      opacity: 1;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }
  .tmp-second-page .santa {
    position: absolute;
    width: 17.861rem;
    height: 18.528rem;
    bottom: 0;
    left: 50%;
    margin-left: -8.9305rem;
    background-size: 17.861rem 18.528rem;
    background-repeat: no-repeat;
    padding-top: 9.944rem;
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
    -webkit-transition: opacity 0.3s 1.1s, -webkit-transform 0.4s 1.1s ease-out;
    transition: opacity 0.3s 1.1s, -webkit-transform 0.4s 1.1s ease-out;
    transition: opacity 0.3s 1.1s, transform 0.4s 1.1s ease-out;
    transition: opacity 0.3s 1.1s, transform 0.4s 1.1s ease-out, -webkit-transform 0.4s 1.1s ease-out; }
    .tmp-second-page .santa > div {
      text-align: center;
      width: 14.444rem;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.5; }
      .tmp-second-page .santa > div:nth-of-type(1) {
        color: #ffe90a;
        font-size: 1.889rem; }
      .tmp-second-page .santa > div:nth-of-type(2) {
        color: #fff;
        font-size: 1.111rem; }
    .tmp-second-page .santa:after {
      content: "";
      position: absolute;
      width: 2.416rem;
      height: 3.222rem;
      left: 2.5rem;
      top: 6.9rem;
      background-size: 2.416rem 3.222rem;
      background-image: url("../images/2/3.png");
      background-repeat: no-repeat;
      opacity: 0;
      -webkit-transform: translateX(-5rem);
              transform: translateX(-5rem);
      -webkit-transition: opacity 0.3s 1.4s, -webkit-transform 0.6s 1.4s ease-out;
      transition: opacity 0.3s 1.4s, -webkit-transform 0.6s 1.4s ease-out;
      transition: opacity 0.3s 1.4s, transform 0.6s 1.4s ease-out;
      transition: opacity 0.3s 1.4s, transform 0.6s 1.4s ease-out, -webkit-transform 0.6s 1.4s ease-out; }
    .tmp-second-page .santa.act {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
      .tmp-second-page .santa.act:after {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0); }
  .tmp-second-page .slide-arrow {
    width: 1.916rem;
    height: 1rem;
    margin-left: -0.958rem;
    background-size: 1.916rem 1rem;
    background-image: url("../images/2/1.png");
    background-repeat: no-repeat; }
  .tmp-second-page .page-title {
    width: 14.333rem;
    height: 3.916rem;
    margin: -0.5rem auto 0;
    padding-top: 0.455rem;
    text-align: center;
    color: #fff;
    font-size: 1.167rem;
    background-size: 14.333rem 3.916rem;
    background-image: url("../images/2/14.png");
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.4s ease-out;
    transition: opacity 0.3s, -webkit-transform 0.4s ease-out;
    transition: opacity 0.3s, transform 0.4s ease-out;
    transition: opacity 0.3s, transform 0.4s ease-out, -webkit-transform 0.4s ease-out; }
    .tmp-second-page .page-title.act {
      opacity: 1;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }
  .tmp-second-page .red-zebra-wrap {
    position: relative;
    width: 18.333rem;
    height: 16.388rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9.166rem;
    background-size: 18.333rem 16.388rem;
    background-image: url("../images/2/18.png");
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: opacity 0.3s 0.4s, -webkit-transform 0.4s 0.4s ease-out;
    transition: opacity 0.3s 0.4s, -webkit-transform 0.4s 0.4s ease-out;
    transition: opacity 0.3s 0.4s, transform 0.4s 0.4s ease-out;
    transition: opacity 0.3s 0.4s, transform 0.4s 0.4s ease-out, -webkit-transform 0.4s 0.4s ease-out; }
    .tmp-second-page .red-zebra-wrap:before {
      content: "";
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 19.861rem;
      height: 15.222rem;
      top: 0;
      opacity: 0;
      background-size: 19.861rem 15.222rem;
      background-image: url("../images/2/15.png");
      background-repeat: no-repeat;
      -webkit-transition: opacity 0.3s 0.8s;
      transition: opacity 0.3s 0.8s;
      z-index: -1; }
    .tmp-second-page .red-zebra-wrap.act {
      opacity: 1;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
      .tmp-second-page .red-zebra-wrap.act:before {
        opacity: 1; }
  .tmp-second-page .decorate-bottom-snow:after, .tmp-second-page .decorate-top-snow:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 20rem;
    opacity: 0;
    -webkit-transition: opacity 0.4s 2.5s;
    transition: opacity 0.4s 2.5s; }
  .tmp-second-page .decorate-bottom-snow:after {
    height: 4.027rem;
    bottom: 0.9rem;
    background-size: 20rem 4.027rem;
    background-image: url("../images/2/17.png");
    background-repeat: no-repeat;
    z-index: -1; }
  .tmp-second-page .decorate-bottom-snow.act:after {
    opacity: 1; }
  .tmp-second-page .decorate-top-snow:before {
    height: 3.5rem;
    top: -2.2rem;
    z-index: -1;
    background-size: 20rem 3.5rem;
    background-image: url("../images/2/25.png");
    background-repeat: no-repeat; }
  .tmp-second-page .decorate-top-snow.act:after {
    opacity: 1; }
  .tmp-second-page .new-tech-slide .tech-header {
    position: absolute;
    width: 10.556rem;
    height: 10.556rem;
    border-radius: 50%;
    border: 0.166rem solid #fff;
    top: -1.944rem;
    left: 50%;
    margin-left: -5.278rem;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    opacity: 0;
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
    background-size: 10.556rem 10.556rem;
    background-repeat: no-repeat;
    -webkit-transition: opacity 0.3s 0.8s, -webkit-transform 0.4s 0.8s ease-out;
    transition: opacity 0.3s 0.8s, -webkit-transform 0.4s 0.8s ease-out;
    transition: opacity 0.3s 0.8s, transform 0.4s 0.8s ease-out;
    transition: opacity 0.3s 0.8s, transform 0.4s 0.8s ease-out, -webkit-transform 0.4s 0.8s ease-out; }
    .tmp-second-page .new-tech-slide .tech-header:before, .tmp-second-page .new-tech-slide .tech-header:after {
      content: "";
      position: absolute;
      opacity: 0; }
    .tmp-second-page .new-tech-slide .tech-header:before {
      width: 3.138rem;
      height: 4.75rem;
      left: 0.5rem;
      top: -1rem;
      background-size: 3.138rem 4.75rem;
      background-image: url("../images/2/16.png");
      background-repeat: no-repeat; }
    .tmp-second-page .new-tech-slide .tech-header:after {
      width: 7.611rem;
      height: 1.694rem;
      left: 50%;
      bottom: -0.5rem;
      margin-left: -3.8055rem;
      background-size: 7.611rem 1.694rem;
      background-image: url("../images/2/19.png");
      background-repeat: no-repeat; }
    .tmp-second-page .new-tech-slide .tech-header.act {
      opacity: 1;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }
  .tmp-second-page .new-tech-slide .tech-name {
    text-align: center;
    color: #c87c10;
    font-size: 1.111rem;
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
    -webkit-transition: opacity 0.3s 1.2s, -webkit-transform 0.4s 1.2s;
    transition: opacity 0.3s 1.2s, -webkit-transform 0.4s 1.2s;
    transition: opacity 0.3s 1.2s, transform 0.4s 1.2s;
    transition: opacity 0.3s 1.2s, transform 0.4s 1.2s, -webkit-transform 0.4s 1.2s; }
    .tmp-second-page .new-tech-slide .tech-name.act {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .tmp-second-page .new-tech-slide .tech-desc {
    text-align: center;
    font-size: 0.833rem;
    color: #935710;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    -webkit-transition: opacity 0.3s 1.5s, -webkit-transform 0.4s 1.5s;
    transition: opacity 0.3s 1.5s, -webkit-transform 0.4s 1.5s;
    transition: opacity 0.3s 1.5s, transform 0.4s 1.5s;
    transition: opacity 0.3s 1.5s, transform 0.4s 1.5s, -webkit-transform 0.4s 1.5s; }
    .tmp-second-page .new-tech-slide .tech-desc.act {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .tmp-second-page .new-tech-slide .service-list {
    margin: 0.35rem auto 0;
    text-align: center;
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    -webkit-transition: opacity 0.3s 1.8s, -webkit-transform 0.4s 1.8s;
    transition: opacity 0.3s 1.8s, -webkit-transform 0.4s 1.8s;
    transition: opacity 0.3s 1.8s, transform 0.4s 1.8s;
    transition: opacity 0.3s 1.8s, transform 0.4s 1.8s, -webkit-transform 0.4s 1.8s; }
    .tmp-second-page .new-tech-slide .service-list > div {
      display: inline-block;
      width: 5.139rem;
      height: 2.528rem;
      background-size: 5.139rem 2.528rem;
      background-image: url("../images/2/20.png");
      background-repeat: no-repeat;
      color: #fff;
      font-size: 0.889rem;
      line-height: 2.8rem;
      padding-right: 0.777rem;
      padding-left: 0.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .tmp-second-page .new-tech-slide .service-list.act {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .tmp-second-page .new-tech-slide .chat-btn {
    position: absolute;
    width: 1.278rem;
    height: 3.472rem;
    right: 1.45rem;
    top: 5.833rem;
    background-size: 1.278rem 3.472rem;
    background-image: url("../images/2/21.png");
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
    -webkit-transition: opacity 0.3s 2.2s, -webkit-transform 0.5s 2.2s ease-out;
    transition: opacity 0.3s 2.2s, -webkit-transform 0.5s 2.2s ease-out;
    transition: opacity 0.3s 2.2s, transform 0.5s 2.2s ease-out;
    transition: opacity 0.3s 2.2s, transform 0.5s 2.2s ease-out, -webkit-transform 0.5s 2.2s ease-out; }
    .tmp-second-page .new-tech-slide .chat-btn.act {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .tmp-second-page .new-tech-slide .chat-btn > div {
      position: absolute;
      width: 4.194rem;
      height: 4.111rem;
      top: -2.7rem;
      left: -2.05rem;
      background-size: 4.194rem 4.111rem;
      background-image: url("../images/2/22.png");
      background-repeat: no-repeat;
      color: #935710;
      font-size: 0.722rem;
      padding: 1.4rem 1.2rem 0;
      -webkit-transform: translate(-0.1rem, 0.1rem) rotate(-15deg);
              transform: translate(-0.1rem, 0.1rem) rotate(-15deg);
      line-height: 1.1;
      text-align: center;
      opacity: 0;
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-transition: opacity 0.4s 2.5s;
      transition: opacity 0.4s 2.5s;
      -webkit-animation: scale-ani 2s infinite ease-in-out;
              animation: scale-ani 2s infinite ease-in-out; }
      .tmp-second-page .new-tech-slide .chat-btn > div.act {
        opacity: 1; }
  .tmp-second-page .new-tech-slide .no-service-list {
    padding-top: 11.2rem; }
    .tmp-second-page .new-tech-slide .no-service-list .tech-header {
      top: -0.5rem; }
  .tmp-second-page .service-item-wrap {
    width: 18.639rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.833rem 0.555rem 0.833rem 0.833rem;
    background: #fdecd2;
    border-radius: 0.5rem;
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    -webkit-transition: opacity 0.3s 0.4s, -webkit-transform 0.5s 0.4s ease-out;
    transition: opacity 0.3s 0.4s, -webkit-transform 0.5s 0.4s ease-out;
    transition: opacity 0.3s 0.4s, transform 0.5s 0.4s ease-out;
    transition: opacity 0.3s 0.4s, transform 0.5s 0.4s ease-out, -webkit-transform 0.5s 0.4s ease-out; }
    .tmp-second-page .service-item-wrap.act {
      opacity: 1;
      -webkit-transform: translateX(0rem);
              transform: translateX(0rem); }
    .tmp-second-page .service-item-wrap .service-img {
      border: 0.167rem solid #fff;
      width: 10rem;
      height: 10rem;
      background-size: 9.666rem 9.666rem;
      background-repeat: no-repeat;
      background-clip: padding-box;
      float: left;
      opacity: 0;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      -webkit-transition: opacity 0.3s 0.9s, -webkit-transform 0.4s 0.9s ease-out;
      transition: opacity 0.3s 0.9s, -webkit-transform 0.4s 0.9s ease-out;
      transition: opacity 0.3s 0.9s, transform 0.4s 0.9s ease-out;
      transition: opacity 0.3s 0.9s, transform 0.4s 0.9s ease-out, -webkit-transform 0.4s 0.9s ease-out; }
      .tmp-second-page .service-item-wrap .service-img.act {
        opacity: 1;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
    .tmp-second-page .service-item-wrap .text-wrap {
      position: relative;
      width: 6.805rem;
      margin-top: 1.5rem;
      margin-left: 0.416rem;
      padding-top: 1.611rem;
      float: left;
      opacity: 0;
      -webkit-transform: translateX(8rem);
              transform: translateX(8rem);
      -webkit-transition: opacity 0.3s 1.2s, -webkit-transform 0.4s 1.2s ease-out;
      transition: opacity 0.3s 1.2s, -webkit-transform 0.4s 1.2s ease-out;
      transition: opacity 0.3s 1.2s, transform 0.4s 1.2s ease-out;
      transition: opacity 0.3s 1.2s, transform 0.4s 1.2s ease-out, -webkit-transform 0.4s 1.2s ease-out; }
      .tmp-second-page .service-item-wrap .text-wrap.act {
        opacity: 1;
        -webkit-transform: translateX(0rem);
                transform: translateX(0rem); }
      .tmp-second-page .service-item-wrap .text-wrap:before {
        content: "";
        position: absolute;
        width: 1.167rem;
        height: 1.083rem;
        top: 0.6111rem;
        left: 0.5rem;
        background-size: 1.167rem 1.083rem;
        background-image: url("../images/2/23.png");
        background-repeat: no-repeat; }
      .tmp-second-page .service-item-wrap .text-wrap > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .tmp-second-page .service-item-wrap .text-wrap > div:nth-of-type(1) {
          padding-left: 0.5rem;
          color: #c87c10;
          font-size: 1.111rem; }
        .tmp-second-page .service-item-wrap .text-wrap > div:nth-of-type(2) {
          position: relative;
          width: 6.833rem;
          height: 1.528rem;
          margin-top: 0.5rem;
          z-index: 0;
          color: #fff;
          font-size: 0.778rem;
          padding-left: 0.67rem; }
          .tmp-second-page .service-item-wrap .text-wrap > div:nth-of-type(2) > strong {
            font-weight: normal;
            font-size: 1.333rem; }
          .tmp-second-page .service-item-wrap .text-wrap > div:nth-of-type(2) > canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 6.833rem;
            height: 1.528rem;
            z-index: -1; }
        .tmp-second-page .service-item-wrap .text-wrap > div:nth-of-type(3) {
          padding-left: 0.5rem;
          margin-top: 0.65rem;
          font-size: 0.778rem;
          color: #f76f54; }
    .tmp-second-page .service-item-wrap .service-desc {
      clear: both;
      padding-top: 0.7rem;
      font-size: 0.833rem;
      color: #935710;
      word-wrap: break-word;
      line-height: 1.5;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: block-axis;
      word-break: break-all;
      opacity: 0;
      -webkit-transform: translateY(3rem);
              transform: translateY(3rem);
      -webkit-transition: opacity 0.3s 1.6s, -webkit-transform 0.4s 1.6s ease-out;
      transition: opacity 0.3s 1.6s, -webkit-transform 0.4s 1.6s ease-out;
      transition: opacity 0.3s 1.6s, transform 0.4s 1.6s ease-out;
      transition: opacity 0.3s 1.6s, transform 0.4s 1.6s ease-out, -webkit-transform 0.4s 1.6s ease-out; }
      .tmp-second-page .service-item-wrap .service-desc.act {
        opacity: 1;
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem); }
  .tmp-second-page .tech-info-wrap {
    position: relative;
    height: 5.5rem;
    width: 18.638rem;
    background: #fdecd2;
    border-radius: 0.4rem;
    padding: 0.333rem 0.333rem 0.333rem 5.139rem;
    margin: 0.611rem auto 0;
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
    .tmp-second-page .tech-info-wrap.act {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(1) {
      position: absolute;
      width: 4.361rem;
      height: 4.833rem;
      top: 0.333rem;
      left: 0.3889rem;
      background-size: 4.361rem 4.833rem;
      background-repeat: no-repeat;
      border: 0.083rem solid #ffc24c;
      border-radius: 0.5rem;
      opacity: 0;
      -webkit-transform: scale(0, 0);
              transform: scale(0, 0);
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%; }
      .tmp-second-page .tech-info-wrap > div:nth-of-type(1).act {
        opacity: 1;
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1); }
      .tmp-second-page .tech-info-wrap > div:nth-of-type(1) > div {
        position: absolute;
        width: 2.9358rem;
        height: 2.8777rem;
        top: -1.3rem;
        left: -1.5rem;
        background-size: 2.9358rem 2.8777rem;
        background-image: url("../images/2/22.png");
        background-repeat: no-repeat;
        opacity: 0;
        -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%; }
        .tmp-second-page .tech-info-wrap > div:nth-of-type(1) > div.act {
          opacity: 1;
          -webkit-transform: scale(1, 1);
                  transform: scale(1, 1); }
        .tmp-second-page .tech-info-wrap > div:nth-of-type(1) > div:before {
          position: absolute;
          content: "点我聊聊";
          top: 0.78rem;
          left: 0.90rem;
          width: 1.4rem;
          height: 1.8rem;
          line-height: 0.7rem;
          color: #b46c17;
          font-size: 0.5rem;
          -webkit-transform: scale(0.9) rotate(-20deg);
                  transform: scale(0.9) rotate(-20deg); }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(2), .tmp-second-page .tech-info-wrap > div:nth-of-type(3) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(2) {
      font-size: 0.889rem;
      color: #0e8545;
      max-width: 9.056rem;
      line-height: 2.4; }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(3) {
      line-height: 1.5;
      font-size: 0.722rem;
      color: #bd7c2b; }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(4) {
      font-size: 0.667rem;
      color: #bd7c2b; }
      .tmp-second-page .tech-info-wrap > div:nth-of-type(4) > span {
        color: #f34023;
        margin-left: 0.3rem; }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(5) {
      position: absolute;
      width: 5.083rem;
      height: 2.472rem;
      top: -0.444rem;
      right: -0.3056rem;
      padding-top: 1rem;
      text-align: center;
      background-size: 5.083rem 2.472rem;
      background-image: url("../images/2/24.png");
      background-repeat: no-repeat;
      color: #bd7c2d;
      font-size: 0.667rem; }
    .tmp-second-page .tech-info-wrap.no-item > div:nth-of-type(2) {
      max-width: 12.5rem; }
    .tmp-second-page .tech-info-wrap.t0 {
      margin-top: 0;
      -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.4s 0.4s ease-out;
      transition: opacity 0.4s 0.4s, -webkit-transform 0.4s 0.4s ease-out;
      transition: opacity 0.4s 0.4s, transform 0.4s 0.4s ease-out;
      transition: opacity 0.4s 0.4s, transform 0.4s 0.4s ease-out, -webkit-transform 0.4s 0.4s ease-out; }
      .tmp-second-page .tech-info-wrap.t0 > div:nth-of-type(1) {
        -webkit-transition: opacity 0.3s 0.8s, -webkit-transform 0.4s 0.8s ease-out;
        transition: opacity 0.3s 0.8s, -webkit-transform 0.4s 0.8s ease-out;
        transition: opacity 0.3s 0.8s, transform 0.4s 0.8s ease-out;
        transition: opacity 0.3s 0.8s, transform 0.4s 0.8s ease-out, -webkit-transform 0.4s 0.8s ease-out; }
        .tmp-second-page .tech-info-wrap.t0 > div:nth-of-type(1) > div {
          -webkit-transition: opacity 0.3s 1.2s, -webkit-transform 0.4s 1.2s ease-out;
          transition: opacity 0.3s 1.2s, -webkit-transform 0.4s 1.2s ease-out;
          transition: opacity 0.3s 1.2s, transform 0.4s 1.2s ease-out;
          transition: opacity 0.3s 1.2s, transform 0.4s 1.2s ease-out, -webkit-transform 0.4s 1.2s ease-out; }
    .tmp-second-page .tech-info-wrap.t1 {
      -webkit-transition: opacity 0.4s 0.6s, -webkit-transform 0.4s 0.6s ease-out;
      transition: opacity 0.4s 0.6s, -webkit-transform 0.4s 0.6s ease-out;
      transition: opacity 0.4s 0.6s, transform 0.4s 0.6s ease-out;
      transition: opacity 0.4s 0.6s, transform 0.4s 0.6s ease-out, -webkit-transform 0.4s 0.6s ease-out; }
      .tmp-second-page .tech-info-wrap.t1 > div:nth-of-type(1) {
        -webkit-transition: opacity 0.3s 1.0s, -webkit-transform 0.4s 1.0s ease-out;
        transition: opacity 0.3s 1.0s, -webkit-transform 0.4s 1.0s ease-out;
        transition: opacity 0.3s 1.0s, transform 0.4s 1.0s ease-out;
        transition: opacity 0.3s 1.0s, transform 0.4s 1.0s ease-out, -webkit-transform 0.4s 1.0s ease-out; }
        .tmp-second-page .tech-info-wrap.t1 > div:nth-of-type(1) > div {
          -webkit-transition: opacity 0.3s 1.4s, -webkit-transform 0.4s 1.4s ease-out;
          transition: opacity 0.3s 1.4s, -webkit-transform 0.4s 1.4s ease-out;
          transition: opacity 0.3s 1.4s, transform 0.4s 1.4s ease-out;
          transition: opacity 0.3s 1.4s, transform 0.4s 1.4s ease-out, -webkit-transform 0.4s 1.4s ease-out; }
    .tmp-second-page .tech-info-wrap.t2 {
      -webkit-transition: opacity 0.4s 0.8s, -webkit-transform 0.4s 0.8s ease-out;
      transition: opacity 0.4s 0.8s, -webkit-transform 0.4s 0.8s ease-out;
      transition: opacity 0.4s 0.8s, transform 0.4s 0.8s ease-out;
      transition: opacity 0.4s 0.8s, transform 0.4s 0.8s ease-out, -webkit-transform 0.4s 0.8s ease-out; }
      .tmp-second-page .tech-info-wrap.t2 > div:nth-of-type(1) {
        -webkit-transition: opacity 0.3s 1.2s, -webkit-transform 0.4s 1.2s ease-out;
        transition: opacity 0.3s 1.2s, -webkit-transform 0.4s 1.2s ease-out;
        transition: opacity 0.3s 1.2s, transform 0.4s 1.2s ease-out;
        transition: opacity 0.3s 1.2s, transform 0.4s 1.2s ease-out, -webkit-transform 0.4s 1.2s ease-out; }
        .tmp-second-page .tech-info-wrap.t2 > div:nth-of-type(1) > div {
          -webkit-transition: opacity 0.3s 1.6s, -webkit-transform 0.4s 1.6s ease-out;
          transition: opacity 0.3s 1.6s, -webkit-transform 0.4s 1.6s ease-out;
          transition: opacity 0.3s 1.6s, transform 0.4s 1.6s ease-out;
          transition: opacity 0.3s 1.6s, transform 0.4s 1.6s ease-out, -webkit-transform 0.4s 1.6s ease-out; }
  .tmp-second-page .video-wrap {
    position: relative;
    height: 15.139rem;
    width: 19.056rem;
    margin: 0 auto;
    border: 0.278rem solid #fff;
    border-radius: 0.4rem;
    -webkit-transition: opacity 0.3s 0.4s, -webkit-transform 0.5s 0.4s !important;
    transition: opacity 0.3s 0.4s, -webkit-transform 0.5s 0.4s !important;
    transition: opacity 0.3s 0.4s, transform 0.5s 0.4s !important;
    transition: opacity 0.3s 0.4s, transform 0.5s 0.4s, -webkit-transform 0.5s 0.4s !important; }
    .tmp-second-page .video-wrap > div {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      border: 1px solid #fff;
      background: #000; }
    .tmp-second-page .video-wrap video {
      width: 100%;
      height: 100%; }
    .tmp-second-page .video-wrap:after {
      bottom: -1.8rem;
      -webkit-transition: opacity 0.4s 1.3s;
      transition: opacity 0.4s 1.3s; }
    .tmp-second-page .video-wrap:before {
      -webkit-transition: opacity 0.4s 0.9s;
      transition: opacity 0.4s 0.9s;
      z-index: 1; }
    .tmp-second-page .video-wrap.act:before, .tmp-second-page .video-wrap.act:after {
      opacity: 1; }
  .tmp-second-page .act-wrap {
    position: relative;
    width: 17.806rem;
    height: 17rem;
    margin-left: auto;
    margin-right: auto;
    background-size: 17.806rem 17rem;
    background-image: url("../images/2/35.png");
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    -webkit-transition: opacity 0.3s 0.4s, -webkit-transform 0.5s 0.4s ease-out;
    transition: opacity 0.3s 0.4s, -webkit-transform 0.5s 0.4s ease-out;
    transition: opacity 0.3s 0.4s, transform 0.5s 0.4s ease-out;
    transition: opacity 0.3s 0.4s, transform 0.5s 0.4s ease-out, -webkit-transform 0.5s 0.4s ease-out;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }
    .tmp-second-page .act-wrap:before {
      top: -2rem;
      -webkit-transition: opacity 0.3s 0.9s;
      transition: opacity 0.3s 0.9s; }
    .tmp-second-page .act-wrap .grab-btn {
      width: 15.889rem;
      height: 2.278rem;
      line-height: 2.278rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 1rem;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      background-size: 15.889rem 2.278rem;
      background-image: url("../images/2/26.png");
      background-repeat: no-repeat;
      opacity: 0;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
      .tmp-second-page .act-wrap .grab-btn.act {
        opacity: 1;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
    .tmp-second-page .act-wrap.act {
      opacity: 1;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }
      .tmp-second-page .act-wrap.act:before {
        opacity: 1; }
  .tmp-second-page .time-limit-wrap, .tmp-second-page .one-yuan-wrap {
    padding-top: 1.2rem; }
    .tmp-second-page .time-limit-wrap > div:nth-of-type(1), .tmp-second-page .one-yuan-wrap > div:nth-of-type(1) {
      width: 6.333rem;
      height: 6.333rem;
      margin: 0 auto;
      background-size: 6.333rem 6.333rem;
      background-repeat: no-repeat;
      border-radius: 0.4rem;
      border: 0.083rem solid #fff;
      opacity: 0;
      -webkit-transform: scale(0, 0);
              transform: scale(0, 0);
      -webkit-transition: opacity 0.4s 1.2s, -webkit-transform 0.5s 1.2s ease-out;
      transition: opacity 0.4s 1.2s, -webkit-transform 0.5s 1.2s ease-out;
      transition: opacity 0.4s 1.2s, transform 0.5s 1.2s ease-out;
      transition: opacity 0.4s 1.2s, transform 0.5s 1.2s ease-out, -webkit-transform 0.5s 1.2s ease-out; }
      .tmp-second-page .time-limit-wrap > div:nth-of-type(1).act, .tmp-second-page .one-yuan-wrap > div:nth-of-type(1).act {
        opacity: 1;
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1); }
    .tmp-second-page .time-limit-wrap .grab-btn, .tmp-second-page .one-yuan-wrap .grab-btn {
      -webkit-transition: opacity 0.3s 1.7s, -webkit-transform 0.4s 1.7s ease-out;
      transition: opacity 0.3s 1.7s, -webkit-transform 0.4s 1.7s ease-out;
      transition: opacity 0.3s 1.7s, transform 0.4s 1.7s ease-out;
      transition: opacity 0.3s 1.7s, transform 0.4s 1.7s ease-out, -webkit-transform 0.4s 1.7s ease-out; }
  .tmp-second-page .time-limit-wrap > div.text-wrap {
    margin-top: 0.4rem; }
    .tmp-second-page .time-limit-wrap > div.text-wrap > div {
      text-align: center; }
      .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(1) {
        color: #fff;
        font-size: 1.111rem; }
      .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(2) {
        margin-top: 0.3rem;
        color: #fff;
        font-size: 1.083rem; }
        .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(2) strong {
          margin: 0 0.1rem;
          font-size: 1.5rem;
          font-weight: normal; }
        .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(2) b {
          font-size: 1.278rem;
          color: #ffe301;
          font-weight: normal;
          margin: 0 0.1rem; }
      .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(3) {
        line-height: 1.8;
        color: #fff;
        font-size: 0.833rem;
        text-decoration: line-through; }
      .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(4) {
        font-size: 0.772rem;
        color: #fff; }
        .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(4) b {
          font-weight: normal;
          color: #ffe301;
          margin: 0 0.15rem; }
        .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(4) span {
          color: #ccc;
          margin-left: 0.5rem; }
  .tmp-second-page .time-limit-wrap > div.grab-btn {
    margin-top: 0.2rem; }
  .tmp-second-page .one-yuan-wrap > div.text-wrap > div {
    text-align: center; }
    .tmp-second-page .one-yuan-wrap > div.text-wrap > div:nth-of-type(1) {
      font-size: 1.111rem;
      margin-top: 1rem;
      color: #fff; }
    .tmp-second-page .one-yuan-wrap > div.text-wrap > div:nth-of-type(2) {
      width: 12.278rem;
      height: 0.333rem;
      border-radius: 0.5rem;
      background-color: #fff;
      margin: 0.7rem auto 0.45rem; }
      .tmp-second-page .one-yuan-wrap > div.text-wrap > div:nth-of-type(2) > div {
        height: 100%;
        border-radius: 0.5rem;
        background-color: #ffc450;
        -webkit-transition: width 1s 10s ease-out;
        transition: width 1s 10s ease-out; }
    .tmp-second-page .one-yuan-wrap > div.text-wrap > div:nth-of-type(3) {
      color: #fff;
      font-size: 0.833rem; }
      .tmp-second-page .one-yuan-wrap > div.text-wrap > div:nth-of-type(3) > span {
        color: #ffe301; }
  .tmp-second-page .one-yuan-wrap > div.grab-btn {
    margin-top: 0.6rem; }
  .tmp-second-page .coupon-wrap {
    padding-top: 2.8rem; }
    .tmp-second-page .coupon-wrap .coupon {
      position: relative;
      width: 14.944rem;
      height: 9.694rem;
      margin-left: auto;
      margin-right: auto;
      z-index: 0;
      opacity: 0;
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
      -webkit-transition: opacity 0.4s 1.2s, -webkit-transform 0.5s 1.2s ease-out;
      transition: opacity 0.4s 1.2s, -webkit-transform 0.5s 1.2s ease-out;
      transition: opacity 0.4s 1.2s, transform 0.5s 1.2s ease-out;
      transition: opacity 0.4s 1.2s, transform 0.5s 1.2s ease-out, -webkit-transform 0.5s 1.2s ease-out; }
      .tmp-second-page .coupon-wrap .coupon.act {
        opacity: 1;
        -webkit-transform: scaleY(1);
                transform: scaleY(1); }
      .tmp-second-page .coupon-wrap .coupon canvas {
        position: absolute;
        width: 14.944rem;
        height: 9.694rem;
        top: 0;
        left: 0;
        z-index: -1; }
      .tmp-second-page .coupon-wrap .coupon > div {
        margin-left: 1.194rem;
        color: #ee6904;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .tmp-second-page .coupon-wrap .coupon > div:nth-of-type(1) {
          height: 2.389rem;
          line-height: 2.5rem;
          width: 9.167rem;
          margin-left: 1.167rem;
          color: #fff;
          font-size: 1.056rem; }
        .tmp-second-page .coupon-wrap .coupon > div:nth-of-type(2) {
          margin-top: 0.611rem;
          line-height: 1;
          font-size: 3.5rem;
          margin-left: 0.55rem;
          font-weight: bold; }
        .tmp-second-page .coupon-wrap .coupon > div:nth-of-type(3) {
          display: inline-block;
          height: 1.167rem;
          font-size: 0.778rem;
          background-color: #ffd69b;
          line-height: 1.167rem; }
        .tmp-second-page .coupon-wrap .coupon > div:nth-of-type(4) {
          font-size: 0.667rem;
          line-height: 1.1; }
    .tmp-second-page .coupon-wrap .grab-btn {
      margin-top: 1.1rem;
      opacity: 0;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-transition: opacity 0.4s 1.6s, -webkit-transform 0.5s 1.6s ease-out;
      transition: opacity 0.4s 1.6s, -webkit-transform 0.5s 1.6s ease-out;
      transition: opacity 0.4s 1.6s, transform 0.5s 1.6s ease-out;
      transition: opacity 0.4s 1.6s, transform 0.5s 1.6s ease-out, -webkit-transform 0.5s 1.6s ease-out; }
      .tmp-second-page .coupon-wrap .grab-btn.act {
        opacity: 1;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
  .tmp-second-page .health-wrap {
    width: 18.472rem;
    height: 18.389rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.389rem 1.944rem;
    font-size: 0.889rem;
    color: #72251b;
    line-height: 1.3rem;
    background-size: 18.472rem 18.389rem;
    background-image: url("../images/2/27.png");
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: translateX(100%) rotate(90deg);
            transform: translateX(100%) rotate(90deg);
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s ease-out;
    transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s ease-out;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s ease-out;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s ease-out, -webkit-transform 0.5s 0.4s ease-out; }
    .tmp-second-page .health-wrap.act {
      opacity: 1;
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg); }
    .tmp-second-page .health-wrap > div {
      height: 15.61099rem;
      width: 14.584rem;
      overflow: auto; }
  .tmp-second-page .actDesc-slide .red-zebra-wrap {
    padding: 1.667rem 1.388rem;
    font-size: 0.778rem;
    color: #72251b;
    line-height: 1.3rem; }
    .tmp-second-page .actDesc-slide .red-zebra-wrap > div {
      height: 13.054rem;
      width: 15.5569rem;
      overflow: auto; }
  .tmp-second-page .actDesc-slide .act-time {
    position: relative;
    width: 9.888rem;
    height: 1.278rem;
    margin: -1.2rem auto 0;
    line-height: 1.278rem;
    text-align: center;
    color: #fff;
    font-size: 0.778rem;
    background: #119b53;
    border-radius: 0.4rem;
    z-index: 3;
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    -webkit-transition: opacity 0.3s 1.3s, -webkit-transform 0.4s 1.3s;
    transition: opacity 0.3s 1.3s, -webkit-transform 0.4s 1.3s;
    transition: opacity 0.3s 1.3s, transform 0.4s 1.3s;
    transition: opacity 0.3s 1.3s, transform 0.4s 1.3s, -webkit-transform 0.4s 1.3s; }
    .tmp-second-page .actDesc-slide .act-time.act {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .tmp-second-page .page-end-title {
    display: block;
    width: 16.3889rem;
    height: 3.056rem;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s ease-out;
    transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s ease-out;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s ease-out;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s ease-out, -webkit-transform 0.5s 0.4s ease-out; }
    .tmp-second-page .page-end-title.act {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
  .tmp-second-page .qr-code {
    width: 15.833rem;
    height: 14.722rem;
    margin: 0.7rem auto 0;
    padding-top: 2.1rem;
    text-align: center;
    background-size: 15.833rem 14.722rem;
    background-image: url("../images/2/30.png");
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transition: opacity 0.4s 0.9s, -webkit-transform 0.5s 0.9s ease-out;
    transition: opacity 0.4s 0.9s, -webkit-transform 0.5s 0.9s ease-out;
    transition: opacity 0.4s 0.9s, transform 0.5s 0.9s ease-out;
    transition: opacity 0.4s 0.9s, transform 0.5s 0.9s ease-out, -webkit-transform 0.5s 0.9s ease-out; }
    .tmp-second-page .qr-code.act {
      opacity: 1;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }
    .tmp-second-page .qr-code > img {
      width: 10rem;
      height: 10rem; }
  .tmp-second-page .attention-tip {
    height: 2.139rem;
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.611rem;
    line-height: 2.139rem;
    color: #fff;
    font-size: 1.056rem;
    font-weight: bold;
    background-size: 2.111rem 2.139rem;
    background-image: url("../images/2/29.png");
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
    -webkit-transition: opacity 0.4s 1.4s, -webkit-transform 0.5s 1.4s ease-out;
    transition: opacity 0.4s 1.4s, -webkit-transform 0.5s 1.4s ease-out;
    transition: opacity 0.4s 1.4s, transform 0.5s 1.4s ease-out;
    transition: opacity 0.4s 1.4s, transform 0.5s 1.4s ease-out, -webkit-transform 0.5s 1.4s ease-out; }
    .tmp-second-page .attention-tip.act {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .tmp-second-page .bottom-btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    -webkit-transition: opacity 0.5s 2.2s, -webkit-transform 0.5s 2.2s;
    transition: opacity 0.5s 2.2s, -webkit-transform 0.5s 2.2s;
    transition: opacity 0.5s 2.2s, transform 0.5s 2.2s;
    transition: opacity 0.5s 2.2s, transform 0.5s 2.2s, -webkit-transform 0.5s 2.2s; }
    .tmp-second-page .bottom-btn.act {
      opacity: 1;
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem); }
    .tmp-second-page .bottom-btn > canvas {
      position: absolute;
      width: inherit;
      height: inherit;
      top: 0;
      left: 0;
      z-index: -1; }
    .tmp-second-page .bottom-btn:before, .tmp-second-page .bottom-btn:after {
      content: "";
      position: absolute; }
  .tmp-second-page .like-btn, .tmp-second-page .liked-btn {
    width: 9.444rem;
    height: 2.889rem;
    margin-left: -4.722rem;
    line-height: 2.8rem;
    padding-left: 4.444rem; }
    .tmp-second-page .like-btn:after, .tmp-second-page .liked-btn:after {
      width: 1.306rem;
      height: 1.25rem;
      top: 0.75rem;
      left: 2.806rem;
      background-size: 1.306rem 1.25rem;
      background-image: url("../images/2/31.png");
      background-repeat: no-repeat; }
    .tmp-second-page .like-btn:before, .tmp-second-page .liked-btn:before {
      width: 2.694rem;
      height: 3.889rem;
      left: -1.944rem;
      top: -1.111rem;
      z-index: -2;
      background-size: 2.694rem 3.889rem;
      background-image: url("../images/2/33.png");
      background-repeat: no-repeat; }
  .tmp-second-page .club-btn, .tmp-second-page .share-btn {
    width: 6.833rem;
    height: 2.111rem;
    line-height: 1.89rem;
    padding-left: 2.972rem; }
  .tmp-second-page .club-btn {
    margin-left: -7.389rem; }
    .tmp-second-page .club-btn:after {
      width: 1.306rem;
      height: 1.25rem;
      top: 0.333rem;
      left: 1.25rem;
      background-size: 1.306rem 1.25rem;
      background-image: url("../images/2/34.png");
      background-repeat: no-repeat; }
  .tmp-second-page .share-btn {
    margin-left: 0.556rem; }
    .tmp-second-page .share-btn:after {
      width: 1.333rem;
      height: 1.388rem;
      top: 0.3rem;
      left: 1.2rem;
      background-size: 1.333rem 1.388rem;
      background-image: url("../images/2/32.png");
      background-repeat: no-repeat; }
  .tmp-second-page div.share-pop > div.center {
    background: #fc4d25; }
  .tmp-second-page .snow {
    position: absolute;
    top: 0;
    left: 0; }
  .tmp-second-page .pic-wrap {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s; }
