@-webkit-keyframes down-up-ani {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate3d(0, 6px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -6px, 0); } }

@keyframes down-up-ani {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate3d(0, 6px, 0);
            transform: translate3d(0, 6px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -6px, 0);
            transform: translate3d(0, -6px, 0); } }

@-webkit-keyframes star-ani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0, 0); } }

@keyframes star-ani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); } }

@-webkit-keyframes scale-ani {
  0% {
    -webkit-transform: scale(0.7, 0.7); }
  50% {
    -webkit-transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.7, 0.7); } }

@keyframes scale-ani {
  0% {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7); }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7); } }

@-webkit-keyframes rotate-ani {
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes rotate-ani {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes opacity-scale-ani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1); } }

@keyframes opacity-scale-ani {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@-webkit-keyframes left-show-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem); } }

@keyframes left-show-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem); } }

@-webkit-keyframes right-show-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem); } }

@keyframes right-show-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem); } }

@-webkit-keyframes top-show-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes top-show-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes bottom-show-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes bottom-show-ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
