@charset "UTF-8";
body.tmp_2 {
  background: -webkit-linear-gradient(top, #fc4d25, #d1101a);
  background: linear-gradient(to bottom, #fc4d25, #d1101a); }

.tmp-second-page {
  height: 100%;
  position: relative;
  background: url("../images/2/5.png") no-repeat left 0 bottom 0;
  background-size: 20rem 4.416rem; }
  .tmp-second-page:before, .tmp-second-page:after {
    content: "";
    position: absolute;
    opacity: 0; }
  .tmp-second-page:before {
    width: 2.361rem;
    height: 3.5rem;
    left: 0.361rem;
    bottom: 2.306rem;
    background-size: 2.361rem 3.5rem;
    background-image: url("../images/2/11.png");
    background-repeat: no-repeat; }
  .tmp-second-page:after {
    width: 3.306rem;
    height: 5.778rem;
    bottom: 2.944rem;
    right: 0;
    background-size: 3.306rem 5.778rem;
    background-image: url("../images/2/13.png");
    background-repeat: no-repeat; }
  .tmp-second-page.common:before, .tmp-second-page.common:after {
    opacity: 1; }
  .tmp-second-page header {
    display: none;
    position: absolute;
    height: 3.333rem;
    top: 0.306rem;
    left: 50%;
    width: 20rem;
    margin-left: -10rem; }
    .tmp-second-page header > div:nth-of-type(1) {
      width: 3.333rem;
      height: 3.333rem;
      border-radius: 50%;
      background-size: 3.333rem 3.333rem;
      background-repeat: no-repeat;
      margin-left: 0.444rem;
      margin-right: 0.722rem;
      float: left; }
    .tmp-second-page header > div:nth-of-type(2) {
      color: #fff;
      line-height: 3.333rem;
      font-size: 1.111rem;
      width: 13rem;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .tmp-second-page header.common {
      height: 1.5rem; }
      .tmp-second-page header.common > div:nth-of-type(1) {
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem 1.5rem;
        background-repeat: no-repeat;
        margin-left: 0.667rem;
        margin-right: 0.472rem; }
      .tmp-second-page header.common > div:nth-of-type(2) {
        line-height: 1.5rem;
        font-size: 1rem; }
      .tmp-second-page header.common:after {
        content: "";
        position: absolute;
        width: 0.583rem;
        height: 0.833rem;
        right: 0.611rem;
        top: 0.3rem;
        background-size: 0.583rem 0.833rem;
        background-image: url("../images/2/9.png");
        background-repeat: no-repeat; }
    .tmp-second-page header.act {
      display: block; }
  .tmp-second-page .statistic-data {
    position: absolute;
    width: 4.611rem;
    height: 8.75rem;
    top: 4.111rem;
    right: 0.167rem;
    padding-top: 4.2rem;
    background-size: 4.611rem 8.75rem;
    background-image: url("../images/2/4.png");
    background-repeat: no-repeat; }
    .tmp-second-page .statistic-data > div {
      width: 3.583rem;
      height: 2.083rem;
      line-height: 2.083rem;
      padding-left: 1.556rem;
      margin: 0.083rem auto 0;
      font-size: 0.778rem;
      color: #faefcc; }
    .tmp-second-page .statistic-data:before {
      position: absolute;
      content: "";
      width: 2.361rem;
      height: 2.833rem;
      top: 1.194rem;
      left: 50%;
      margin-left: -1.1805rem;
      background-size: 2.361rem 2.833rem;
      background-image: url("../images/2/2.png");
      background-repeat: no-repeat; }
  .tmp-second-page .bottom-snow {
    position: absolute;
    width: 20rem;
    height: 4.416rem;
    left: 0;
    bottom: 0;
    background-size: 20rem 4.416rem;
    background-image: url("../images/2/5.png");
    background-repeat: no-repeat; }
  .tmp-second-page .left-tree, .tmp-second-page .right-tree {
    position: absolute;
    width: 10.916rem;
    height: 11.638rem;
    bottom: 9rem;
    opacity: 0.5;
    background-size: 10.916rem 11.638rem;
    background-image: url("../images/2/10.png");
    background-repeat: no-repeat; }
  .tmp-second-page .left-tree {
    left: -3.8rem; }
  .tmp-second-page .right-tree {
    right: -3.8rem; }
  .tmp-second-page .main-tree {
    position: absolute;
    width: 20rem;
    height: 23rem;
    left: 0;
    bottom: 6.027rem;
    background-size: 20rem 23rem;
    background-image: url("../images/2/7.png");
    background-repeat: no-repeat; }
    .tmp-second-page .main-tree:after {
      content: "";
      position: absolute;
      width: 8.444rem;
      height: 9.388rem;
      left: 50%;
      top: 0;
      margin-left: -4.36rem;
      background-size: 8.444rem 9.388rem;
      background-image: url("../images/2/6.png");
      background-repeat: no-repeat; }
  .tmp-second-page .santa {
    position: absolute;
    width: 17.861rem;
    height: 18.528rem;
    bottom: 0;
    left: 50%;
    margin-left: -8.9305rem;
    background-size: 17.861rem 18.528rem;
    background-image: url("../images/2/8.png");
    background-repeat: no-repeat;
    padding-top: 9.944rem; }
    .tmp-second-page .santa > div {
      text-align: center;
      width: 14.444rem;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.5; }
      .tmp-second-page .santa > div:nth-of-type(1) {
        color: #ffe90a;
        font-size: 1.889rem; }
      .tmp-second-page .santa > div:nth-of-type(2) {
        color: #fff;
        font-size: 1.111rem; }
    .tmp-second-page .santa:after {
      content: "";
      position: absolute;
      width: 2.416rem;
      height: 3.222rem;
      left: 2.5rem;
      top: 6.9rem;
      background-size: 2.416rem 3.222rem;
      background-image: url("../images/2/3.png");
      background-repeat: no-repeat; }
  .tmp-second-page .slide-arrow {
    width: 1.916rem;
    height: 1rem;
    margin-left: -0.958rem;
    background-size: 1.916rem 1rem;
    background-image: url("../images/2/1.png");
    background-repeat: no-repeat; }
  .tmp-second-page .page-title {
    width: 14.333rem;
    height: 3.916rem;
    margin: 0 auto;
    padding-top: 0.4rem;
    text-align: center;
    color: #fff;
    font-size: 1.167rem;
    background-size: 14.333rem 3.916rem;
    background-image: url("../images/2/14.png");
    background-repeat: no-repeat; }
  .tmp-second-page .red-zebra-wrap {
    position: relative;
    width: 18.333rem;
    height: 16.388rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9.166rem;
    background-size: 18.333rem 16.388rem;
    background-image: url("../images/2/18.png");
    background-repeat: no-repeat; }
    .tmp-second-page .red-zebra-wrap:before {
      content: "";
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .tmp-second-page .red-zebra-wrap:before {
      width: 19.861rem;
      height: 15.222rem;
      top: 0;
      background-size: 19.861rem 15.222rem;
      background-image: url("../images/2/15.png");
      background-repeat: no-repeat; }
  .tmp-second-page .decorate-bottom-snow:after, .tmp-second-page .decorate-top-snow:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 20rem; }
  .tmp-second-page .decorate-bottom-snow:after {
    height: 4.027rem;
    bottom: -1.1rem;
    z-index: -1;
    background-size: 20rem 4.027rem;
    background-image: url("../images/2/17.png");
    background-repeat: no-repeat; }
  .tmp-second-page .decorate-top-snow:before {
    height: 3.5rem;
    top: -2.2rem;
    z-index: 1;
    background-size: 20rem 3.5rem;
    background-image: url("../images/2/25.png");
    background-repeat: no-repeat; }
  .tmp-second-page .new-tech-slide .tech-header {
    position: absolute;
    width: 10.556rem;
    height: 10.556rem;
    border-radius: 50%;
    border: 0.166rem solid #fff;
    top: -1.944rem;
    left: 50%;
    margin-left: -5.278rem;
    background-size: 10.556rem 10.556rem;
    background-repeat: no-repeat; }
    .tmp-second-page .new-tech-slide .tech-header:before, .tmp-second-page .new-tech-slide .tech-header:after {
      content: "";
      position: absolute; }
    .tmp-second-page .new-tech-slide .tech-header:before {
      width: 3.138rem;
      height: 4.75rem;
      left: 0.5rem;
      top: -1rem;
      background-size: 3.138rem 4.75rem;
      background-image: url("../images/2/16.png");
      background-repeat: no-repeat; }
    .tmp-second-page .new-tech-slide .tech-header:after {
      width: 7.611rem;
      height: 1.694rem;
      left: 50%;
      bottom: -0.5rem;
      margin-left: -3.8055rem;
      background-size: 7.611rem 1.694rem;
      background-image: url("../images/2/19.png");
      background-repeat: no-repeat; }
  .tmp-second-page .new-tech-slide .tech-name {
    text-align: center;
    color: #c87c10;
    font-size: 1.111rem; }
  .tmp-second-page .new-tech-slide .tech-desc {
    text-align: center;
    font-size: 0.833rem;
    color: #935710;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .tmp-second-page .new-tech-slide .service-list {
    margin: 0.35rem auto 0;
    text-align: center; }
    .tmp-second-page .new-tech-slide .service-list > div {
      display: inline-block;
      width: 5.139rem;
      height: 2.528rem;
      background-size: 5.139rem 2.528rem;
      background-image: url("../images/2/20.png");
      background-repeat: no-repeat;
      color: #fff;
      font-size: 0.889rem;
      line-height: 2.8rem;
      padding-right: 0.777rem;
      padding-left: 0.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .tmp-second-page .new-tech-slide .chat-btn {
    position: absolute;
    width: 1.278rem;
    height: 3.472rem;
    right: 1.45rem;
    top: 5.833rem;
    background-size: 1.278rem 3.472rem;
    background-image: url("../images/2/21.png");
    background-repeat: no-repeat; }
    .tmp-second-page .new-tech-slide .chat-btn:before, .tmp-second-page .new-tech-slide .chat-btn:after {
      position: absolute;
      width: 4.194rem;
      height: 4.111rem;
      top: -2.7rem;
      left: -2.05rem;
      box-sizing: border-box; }
    .tmp-second-page .new-tech-slide .chat-btn:before {
      content: "";
      background-size: 4.194rem 4.111rem;
      background-image: url("../images/2/22.png");
      background-repeat: no-repeat; }
    .tmp-second-page .new-tech-slide .chat-btn:after {
      content: "点我聊聊";
      color: #935710;
      font-size: 0.722rem;
      padding: 1.4rem 1.2rem 0;
      -webkit-transform: translate(-0.1rem, 0.1rem) rotate(-15deg);
              transform: translate(-0.1rem, 0.1rem) rotate(-15deg);
      line-height: 1.1;
      text-align: center; }
  .tmp-second-page .service-item-wrap {
    width: 18.639rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.833rem 0.555rem 0.833rem 0.833rem;
    background: #fdecd2;
    border-radius: 0.5rem; }
    .tmp-second-page .service-item-wrap .service-img {
      border: 0.167rem solid #fff;
      width: 10rem;
      height: 10rem;
      background-size: 9.666rem 9.666rem;
      background-repeat: no-repeat;
      background-clip: padding-box;
      float: left; }
    .tmp-second-page .service-item-wrap .text-wrap {
      position: relative;
      width: 6.805rem;
      margin-left: 0.416rem;
      padding-top: 1.611rem;
      float: left; }
      .tmp-second-page .service-item-wrap .text-wrap:before {
        content: "";
        position: absolute;
        width: 1.167rem;
        height: 1.083rem;
        top: 0.6111rem;
        left: 0.5rem;
        background-size: 1.167rem 1.083rem;
        background-image: url("../images/2/23.png");
        background-repeat: no-repeat; }
      .tmp-second-page .service-item-wrap .text-wrap > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .tmp-second-page .service-item-wrap .text-wrap > div:nth-of-type(1) {
          padding-left: 0.5rem;
          color: #c87c10;
          font-size: 1.111rem; }
        .tmp-second-page .service-item-wrap .text-wrap > div:nth-of-type(2) {
          position: relative;
          width: 6.833rem;
          height: 1.528rem;
          margin-top: 0.5rem;
          z-index: 0;
          color: #fff;
          font-size: 0.778rem;
          padding-left: 0.67rem; }
          .tmp-second-page .service-item-wrap .text-wrap > div:nth-of-type(2) > strong {
            font-weight: normal;
            font-size: 1.333rem; }
          .tmp-second-page .service-item-wrap .text-wrap > div:nth-of-type(2) > canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 6.833rem;
            height: 1.528rem;
            z-index: -1; }
        .tmp-second-page .service-item-wrap .text-wrap > div:nth-of-type(3) {
          padding-left: 0.5rem;
          margin-top: 0.65rem;
          font-size: 0.778rem;
          color: #f76f54; }
    .tmp-second-page .service-item-wrap .service-desc {
      clear: both;
      padding-top: 0.7rem;
      font-size: 0.833rem;
      color: #935710;
      word-wrap: break-word;
      line-height: 1.5;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: block-axis;
      word-break: break-all; }
  .tmp-second-page .tech-info-wrap {
    position: relative;
    height: 5.5rem;
    width: 18.638rem;
    background: #fdecd2;
    border-radius: 0.4rem;
    padding: 0.333rem 0.333rem 0.333rem 5.139rem;
    margin: 0.611rem auto 0; }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(1) {
      position: absolute;
      width: 4.361rem;
      height: 4.833rem;
      top: 0.333rem;
      left: 0.3889rem;
      background-size: 4.361rem 4.833rem;
      background-repeat: no-repeat;
      border: 0.083rem solid #ffc24c;
      border-radius: 0.5rem; }
      .tmp-second-page .tech-info-wrap > div:nth-of-type(1) > div {
        position: absolute;
        width: 2.9358rem;
        height: 2.8777rem;
        top: -1.3rem;
        left: -1.5rem;
        background-size: 2.9358rem 2.8777rem;
        background-image: url("../images/2/22.png");
        background-repeat: no-repeat; }
        .tmp-second-page .tech-info-wrap > div:nth-of-type(1) > div:before {
          position: absolute;
          content: "点我聊聊";
          top: 0.75rem;
          left: 0.75rem;
          width: 1.5rem;
          height: 1.8rem;
          line-height: 0.7rem;
          color: #b46c17;
          font-size: 0.5rem;
          -webkit-transform: scale(0.9) rotate(-20deg);
                  transform: scale(0.9) rotate(-20deg); }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(2) {
      font-size: 0.889rem;
      color: #0e8545;
      max-width: 9.056rem;
      line-height: 2.5;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(3) {
      line-height: 1.5;
      font-size: 0.722rem;
      color: #bd7c2b; }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(4) {
      font-size: 0.667rem;
      color: #bd7c2b; }
      .tmp-second-page .tech-info-wrap > div:nth-of-type(4) > span {
        color: #f34023;
        margin-left: 0.3rem; }
    .tmp-second-page .tech-info-wrap > div:nth-of-type(5) {
      position: absolute;
      width: 5.083rem;
      height: 2.472rem;
      top: -0.444rem;
      right: -0.3056rem;
      padding-top: 1rem;
      text-align: center;
      background-size: 5.083rem 2.472rem;
      background-image: url("../images/2/24.png");
      background-repeat: no-repeat;
      color: #bd7c2d;
      font-size: 0.667rem; }
  .tmp-second-page .video-wrap {
    position: relative;
    height: 15.139rem;
    width: 19.056rem;
    margin: 2.222rem auto 0;
    border: 0.278rem solid #fff;
    border-radius: 0.4rem; }
    .tmp-second-page .video-wrap > div {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      border: 1px solid #fff;
      background: #000; }
    .tmp-second-page .video-wrap video {
      width: 100%;
      height: 100%; }
    .tmp-second-page .video-wrap:after {
      bottom: -1.8rem; }
  .tmp-second-page .act-wrap {
    width: 17.833rem;
    height: 18.028rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    background: rgba(203, 23, 31, 0.8); }
    .tmp-second-page .act-wrap .grab-btn {
      width: 15.889rem;
      height: 2.278rem;
      line-height: 2.278rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 1rem;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      background-size: 15.889rem 2.278rem;
      background-image: url("../images/2/26.png");
      background-repeat: no-repeat; }
  .tmp-second-page .time-limit-wrap {
    padding-top: 0.556rem; }
    .tmp-second-page .time-limit-wrap > div:nth-of-type(1) {
      width: 6.333rem;
      height: 6.333rem;
      margin: 0 auto;
      background-size: 6.333rem 6.333rem;
      background-repeat: no-repeat;
      border-radius: 0.4rem;
      border: 0.083rem solid #fff; }
    .tmp-second-page .time-limit-wrap > div.text-wrap {
      margin-top: 0.944rem; }
      .tmp-second-page .time-limit-wrap > div.text-wrap > div {
        text-align: center; }
        .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(1) {
          color: #fff;
          font-size: 1.111rem; }
        .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(2) {
          margin-top: 0.3rem;
          color: #fff;
          font-size: 1.083rem; }
          .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(2) strong {
            margin: 0 0.1rem;
            font-size: 1.5rem;
            font-weight: normal; }
          .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(2) b {
            font-size: 1.278rem;
            color: #ffe301;
            font-weight: normal;
            margin: 0 0.1rem; }
        .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(3) {
          line-height: 2.0;
          color: #fff;
          font-size: 0.833rem;
          text-decoration: line-through; }
        .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(4) {
          font-size: 0.772rem;
          color: #fff; }
          .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(4) b {
            font-weight: normal;
            color: #ffe301;
            margin: 0 0.15rem; }
          .tmp-second-page .time-limit-wrap > div.text-wrap > div:nth-of-type(4) span {
            color: #ccc;
            margin-left: 0.5rem; }
    .tmp-second-page .time-limit-wrap > div.grab-btn {
      margin-top: 0.6rem; }
  .tmp-second-page .coupon-wrap {
    padding-top: 3.361rem; }
    .tmp-second-page .coupon-wrap .coupon {
      position: relative;
      width: 14.944rem;
      height: 9.694rem;
      margin-left: auto;
      margin-right: auto;
      z-index: 0; }
      .tmp-second-page .coupon-wrap .coupon canvas {
        position: absolute;
        width: 14.944rem;
        height: 9.694rem;
        top: 0;
        left: 0;
        z-index: -1; }
      .tmp-second-page .coupon-wrap .coupon > div {
        margin-left: 1.194rem;
        color: #ee6904;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .tmp-second-page .coupon-wrap .coupon > div:nth-of-type(1) {
          height: 2.389rem;
          line-height: 2.5rem;
          width: 9.167rem;
          margin-left: 1.167rem;
          color: #fff;
          font-size: 1.056rem; }
        .tmp-second-page .coupon-wrap .coupon > div:nth-of-type(2) {
          margin-top: 0.611rem;
          line-height: 1;
          font-size: 3.5rem;
          margin-left: 0.55rem;
          font-weight: bold; }
        .tmp-second-page .coupon-wrap .coupon > div:nth-of-type(3) {
          display: inline-block;
          height: 1.167rem;
          font-size: 0.778rem;
          background-color: #ffd69b;
          line-height: 1.167rem; }
        .tmp-second-page .coupon-wrap .coupon > div:nth-of-type(4) {
          font-size: 0.667rem;
          line-height: 1.1; }
    .tmp-second-page .coupon-wrap .grab-btn {
      margin-top: 1.472rem; }
